body {
	background: $color_white;
	color: $color_base;

	&.modal-open,
	&.nav-open{
		overflow: hidden;
	}
	&.modal-open{
		.header-bar{
			z-index: 1;
			transition: 0s;
		}
	}
}

*::selection {
	background: $color_main_regular;
	color: $color_white;
}

.main-body {
	overflow: hidden;
	position: relative;
	padding: 4rem 0 1rem;
}