.grid {
	display: grid;
	grid-auto-rows: 1fr;

	@each $pos in $grid_map {
		&-cols-#{$pos} {
			grid-template-columns: repeat(#{$pos}, 1fr);

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						grid-template-columns: repeat(#{$pos}, 1fr);
					}
				}
			}
		}
	}
}