//*---------------*//
//*.SHOW and .HIDE*//
//*---------------*//
.hide {
	display: none
}

.show {
	display: block;

	@each $media_name,
	$media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@desktop;

			@include media (#{$media_name}-down) {
				display: none
			}
		}
	}
}

@each $media_name,
$media_size in $medias_map {
	.hide\@#{$media_name} {
		@include media (#{$media_name}-down) {
			display: none !important;

			&.show\@tablet {
				@include media (tablet-down) {
					display: block !important
				}
			}
		}
	}
}

.show\@desktop {
	display: none;

	@include media (desktop-down) {
		display: block
	}

	@each $media_name,
	$media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@desktop;

			@include media (#{$media_name}-down) {
				display: none
			}
		}
	}
}

.show\@large {
	display: none;

	@include media (large-down) {
		display: block
	}

	@each $media_name,
	$media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@large;

			@include media (#{$media_name}-down) {
				display: none
			}
		}
	}
}

.show\@book {
	display: none;

	@include media (book-down) {
		display: block
	}

	@each $media_name,
	$media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@book;

			@include media (#{$media_name}-down) {
				display: none
			}
		}
	}
}

.show\@medium {
	display: none;

	@include media (medium-down) {
		display: block
	}

	@each $media_name,
	$media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@medium;

			@include media (#{$media_name}-down) {
				display: none;

				&.show\@tablet {
					@include media (tablet-down) {
						display: block
					}
				}
			}
		}
	}
}

.show\@tablet {
	display: none;

	@include media (tablet-down) {
		display: block
	}

	@each $media_name,
	$media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@tablet;

			@include media (#{$media_name}-down) {
				display: none
			}
		}
	}
}

.show\@small {
	display: none;

	@include media (small-down) {
		display: block
	}

	@each $media_name,
	$media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@small;

			@include media (#{$media_name}-down) {
				display: none
			}
		}
	}
}

.show\@phablet {
	display: none;

	@include media (phablet-down) {
		display: block
	}

	@each $media_name,
	$media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@phablet;

			@include media (#{$media_name}-down) {
				display: none
			}
		}
	}
}

.column-reverse {

	@each $media_name,
	$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				display: flex;
				flex-direction: column-reverse;
			}
		}
	}
}

.peekaboo {

	@each $media_name,
	$media_size in $medias_map {
		&-out\@#{$media_name} {
			@include media (#{$media_name}-down) {
				display: none;
			}
		}
	}

	@each $media_name,
	$media_size in $medias_map {
		&-in\@#{$media_name} {
			@include media (#{$media_name}-down) {
				display: block;
			}
		}
	}
}

//*-----------------------------*//
//*Rewrite gridle's GUTTER class*//
//*-----------------------------*//
.gutter {
	padding: .5rem;
	@each $media_name, $media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				padding: .5rem;
			}
			&-up {
				@include media (#{$media_name}-up) {
					padding: .5rem;
				}
			}
		}
	}

	&-vertical {
		padding-top: .5rem;
		padding-bottom: .5rem;

		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: .5rem;
					padding-bottom: .5rem;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-top: .5rem;
						padding-bottom: .5rem;
					}
				}
			}
		}

		&-double {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}

	&-horizontal {
		padding-left: .5rem;
		padding-right: .5rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: .5rem;
					padding-right: .5rem;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-left: .5rem;
						padding-right: .5rem;
					}
				}
			}
		}
	}

	&-top {
		padding-top: .5rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: .5rem;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-top: .5rem;
					}
				}
			}
		}
	}

	&-bottom {
		padding-bottom: .5rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: .5rem;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-bottom: .5rem;
					}
				}
			}
		}
	}

	&-left {
		padding-left: .5rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: .5rem;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-left: .5rem;
					}
				}
			}
		}
	}

	&-right {
		padding-right: .5rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-right: .5rem;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-right: .5rem;
					}
				}
			}
		}
	}

	@each $media_name,
	$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				padding: .5rem;
			}

			&-up {
				@include media (#{$media_name}-up) {
					padding: .5rem;
				}
			}
		}
	}

	&-special {
		padding-left: 0;

		@include media (small-down) {
			padding: .5rem 1.5rem;
		}

		@include media (phablet-down) {
			padding: .5rem;
		}
	}

	&-triple-top {
		padding: 3rem 0 0;
	}

	&-triple-right {
		padding-right: 3rem;
	}
}



//*------------*//
//*Border class*//
//*------------*//
.br {
	&-right {
		border-right: 1px solid $color_border;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					border-right: 1px solid $color_border
				}
			}
		}
	}

	&-left {
		border-left: 1px solid $color_border;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					border-left: 1px solid $color_border
				}
			}
		}
	}

	&-top {
		border-top: 1px solid $color_border;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					border-top: 1px solid $color_border
				}
			}
		}
	}

	&-bottom {
		border-bottom: 1px solid $color_border;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					border-bottom: 1px solid $color_border
				}
			}
		}
	}

	&-full {
		border: 1px solid $color_border;
	}
	
	&-light{
		&-top {
			border-top: 1px solid $color_border_light;
	
			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						border-top: 1px solid $color_border_light
					}
					&-up{
						@include media (#{$media_name}-up) {
							border-top: 1px solid $color_border_light
						}
					}
				}
			}
		}
		&-left {
			border-left: 1px solid $color_border_light;
	
			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						border-left: 1px solid $color_border_light
					}
					&-up{
						@include media (#{$media_name}-up) {
							border-left: 1px solid $color_border_light
						}
					}
				}
			}
		}
		&-bottom {
			border-bottom: 1px solid $color_border_light;
	
			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						border-bottom: 1px solid $color_border_light
					}
					&-up{
						@include media (#{$media_name}-up) {
							border-bottom: 1px solid $color_border_light
						}
					}
				}
			}
		}
	}
	&-dark{
		&-left {
			border-left: 1px solid $color_border_dark;
	
			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						border-left: 1px solid $color_border_dark
					}
					&-up{
						@include media (#{$media_name}-up) {
							border-left: 1px solid $color_border_dark
						}
					}
				}
			}
		}
		&-bottom {
			border-bottom: 1px solid $color_border_dark;
	
			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						border-bottom: 1px solid $color_border_dark
					}
					&-up{
						@include media (#{$media_name}-up) {
							border-bottom: 1px solid $color_border_dark
						}
					}
				}
			}
		}
	}
}

//*---------------*//
//*No border class*//
//*---------------*//
.no-br {
	&-right {
		border-right: none;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					border-right: none
				}
			}
		}
	}

	&-left {
		border-left: none;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					border-left: none
				}
			}
		}
	}

	&-top {
		border-top: none;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					border-top: none
				}
			}
		}
	}

	&-bottom {
		border-bottom: none;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					border-bottom: none
				}
			}
		}
	}
}


//*-----------------------------------*//
//*Border created using :after element*//
//*-----------------------------------*//
.brc {
	&-right {
		@include br-right;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					@include br-right
				}
			}
		}
	}

	&-left {
		@include br-left;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					@include br-left
				}
			}
		}
	}

	&-top {
		@include br-top;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					@include br-top
				}
			}
		}
	}

	&-bottom {
		@include br-bottom;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					@include br-bottom
				}
			}

			&[class*="gr-"] {
				&:after {
					background: $color_grey_lighter
				}
			}
		}
	}
}

//*--------------------------------*//
//*No :after element Border element*//
//*--------------------------------*//
.no-brc {
	&-right {
		@include no-br;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					@include no-br
				}
			}
		}
	}

	&-left {
		@include no-br;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					@include no-br
				}
			}
		}
	}

	&-top {
		@include no-br;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					@include no-br
				}
			}
		}
	}

	&-bottom {
		@include no-br;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					@include no-br
				}
			}
		}
	}
}


//*---------------*//
//*No gutter class*//
//*override all of above*//
//*---------------------*//
.gutter {
	@for $i from 1 through 20 {
		&-vertical-#{$i} {
			padding-top: calc(#{$i} * 1rem);
			padding-bottom: calc(#{$i} * 1rem);

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-top: calc(#{$i} * 1rem);
						padding-bottom: calc(#{$i} * 1rem);
					}

					&-up {
						@include media (#{$media_name}-up) {
							padding-top: calc(#{$i} * 1rem);
							padding-bottom: calc(#{$i} * 1rem);
						}
					}
				}
			}
		}

		&-horizontal-#{$i} {
			padding-left: calc(#{$i} * 1rem);
			padding-right: calc(#{$i} * 1rem);

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-left: calc(#{$i} * 1rem);
						padding-right: calc(#{$i} * 1rem);
					}

					&-up {
						@include media (#{$media_name}-up) {
							padding-left: calc(#{$i} * 1rem);
							padding-right: calc(#{$i} * 1rem);
						}
					}
				}
			}
		}

		&-left-#{$i} {
			padding-left: calc(#{$i} * 1rem);

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-left: calc(#{$i} * 1rem);
					}

					&-up {
						@include media (#{$media_name}-up) {
							padding-left: calc(#{$i} * 1rem);
						}
					}
				}
			}
		}

		&-right-#{$i} {
			padding-right: calc(#{$i} * 1rem);

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-right: calc(#{$i} * 1rem);
					}

					&-up {
						@include media (#{$media_name}-up) {
							padding-right: calc(#{$i} * 1rem);
						}
					}
				}
			}
		}

		&-top-#{$i} {
			padding-top: calc(#{$i} * 1rem);

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-top: calc(#{$i} * 1rem);
					}

					&-up {
						@include media (#{$media_name}-up) {
							padding-top: calc(#{$i} * 1rem);
						}
					}
				}
			}
		}

		&-bottom-#{$i} {
			padding-bottom: calc(#{$i} * 1rem);

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-bottom: calc(#{$i} * 1rem);
					}

					&-up {
						@include media (#{$media_name}-up) {
							padding-bottom: calc(#{$i} * 1rem);
						}
					}
				}
			}
		}
	}
}

.no-gutter {
	padding: 0;

	&-important {
		padding: 0 !important;
	}

	&-vertical {
		padding-top: 0;
		padding-bottom: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 0;
					padding-bottom: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-top: 0;
						padding-bottom: 0;
					}
				}
			}
		}
	}

	&-horizontal {
		padding-left: 0;
		padding-right: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: 0;
					padding-right: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-left: 0;
						padding-right: 0;
					}
				}
			}
		}
	}

	&-top {
		padding-top: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-top: 0;
					}
				}
			}
		}
	}

	&-bottom {
		padding-bottom: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-bottom: 0;
					}
				}
			}
		}
	}

	&-left {
		padding-left: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-left: 0;
					}
				}
			}
		}
	}

	&-right {
		padding-right: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-right: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-right: 0;
					}
				}
			}
		}
	}

	@each $media_name,
	$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				padding: 0;
			}

			&-up {
				@include media (#{$media_name}-up) {
					padding: 0;
				}
			}
		}
	}
}

.min-gutter {
	padding: 1px;

	&-top {
		padding-top: 1px;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 1px;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-top: 1px;
					}
				}
			}
		}
	}

	&-bottom {
		padding-bottom: 1px;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: 1px;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-bottom: 1px;
					}
				}
			}
		}
	}

	&-left {
		padding-left: 1px;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: 1px;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-left: 1px;
					}
				}
			}
		}
	}

	&-right {
		padding-right: 1px;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-right: 1px;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-right: 1px;
					}
				}
			}
		}
	}

	@each $media_name,
	$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				padding: 1px;
			}

			&-up {
				@include media (#{$media_name}-up) {
					padding: 1px;
				}
			}
		}
	}
}

.bg {
	&-dark {
		background: $color_dark;
		color: $color_white;
	}

	&-white {
		background: $color_white;
	}

	&-light {
		background: $color_light;
	}

	&-white {
		background: $color_white;
	}

	&-gray {
		background: $color_grey_regular;
	}

	&-dark {
		background: $color_dark;
	}

	&-black {
		background: $color_black;
	}

	&-main {
		background: $color_main_regular;
		color: $color_white;
	}

	&-clear {
		background: $color_light;
	}

	&-mariner {
		background: linear-gradient(to bottom, $color_white, $color_secondary_regular 52%, $color_white);
	}
}

.margin {
	&-bottom {
		margin-bottom: 1rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-bottom: 1rem;
				}
			}
		}
	}

	&-top {
		margin-top: 1rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-top: 1rem;
				}
			}
		}
	}

	&-left {
		margin-left: 1rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-left: 1rem;
				}
			}
		}
	}

	&-right {
		margin-right: 1rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-right: 1rem;
				}
			}
		}
	}
}

.no-margin {
	margin: 0;

	&-vertical {
		margin-top: 0;
		margin-bottom: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-top: 0;
					margin-bottom: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						margin-top: 0;
						margin-bottom: 0;
					}
				}
			}
		}
	}

	&-horizontal {
		margin-left: 0;
		margin-right: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-left: 0;
					margin-right: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						margin-left: 0;
						margin-right: 0;
					}
				}
			}
		}
	}

	&-top {
		margin-top: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-top: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						margin-top: 0;
					}
				}
			}
		}
	}

	&-bottom {
		margin-bottom: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-bottom: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	@each $media_name,
	$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				margin: 0;
			}

			&-up {
				@include media (#{$media_name}-up) {
					margin: 0;
				}
			}
		}
	}
}

.row.row--full {
	width: 100% !important;
	left: 0 !important;
	margin: 0 0 0 0 !important;
}

.full-height {
	height: 100%;
}

.tall-height {
	height: 100%;
	max-height: 750px;
}

.bg-tall {
	@include media ($deploy_nav_up) {
		min-height: 800px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.relative {
	position: relative;
	z-index: 2;

	@each $media_name,
	$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				position: relative;
				;
			}
		}
	}
}

.container {
	&.no-gutter {

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding: 0;

					.row {
						margin-left: 0;
						margin-right: 0;
					}
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding: 0;

						.row {
							margin-left: 0;
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}

.no-radius {
	border-radius: 0;
}

.no-border {
	border: 0;
}

.text {
	&-light {
		* {
			color: $color_white;
		}
	}

	&-dark {
		* {
			color: $color_dark;
		}
	}
}

.span {
	&-break {
		>span {
			display: block;
			width: 100%;
		}
	}
}

.w {

	@each $weight_name,
	$weight_size in $weights_map {
		&-#{$weight_name} {
			font-weight: $weight_size;
		}
	}
}

.case {
	&-normal {
		text-transform: none;
	}

	&-upper {
		text-transform: uppercase;
	}

	&-lower {
		text-transform: lowercase;
	}
}

select[required] {
	transition: 0s;
}

.bg-none {
	background: transparent;
}

.no-overflow {
	overflow: hidden;
}