////////////////////////////////////////
//////////////////////////////////////// Paths
////////////////////////////////////////
$fonts_path: '../../dist/fonts/';
$images_path: '../../dist/img/';
$icons_path: '../../dist/img/font-icons/';

////////////////////////////////////////
//////////////////////////////////////// Base
////////////////////////////////////////


$cols_map: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);
$cols_map_inv: (12, 11, 10, 8, 7, 6, 5, 4, 3, 2, 1);
$grid_map: (6,5,4,3,2,1);
$base_sans_font_family: 'Lato', Helvetica, Arial, sans-serif !default;
$base_serif_font_family: 'Merriweather', serif !default;

////////
//Font alias
///////
$font_ketchup: "material-ketchup";
$font_sans: $base_sans_font_family;
$font_serif: $base_serif_font_family;

$base_font_size: 16px !default;
$base_line_height: 1.4rem !default;
$base_padding: 1rem !default; // em for it to react to its context
$base_transition: all 200ms ease-in-out !default;
$base_box_shadow: 0 0 .5rem rgba(0,0,0,.1) !default;
$base_border_radius: 0 !default;
$base_color: #333333 !default;
$base_background: #F3F3F3 !default;

$deploy_nav_down: 'medium-down';
$deploy_nav_up: 'medium-up';

////////////////////////////////////////
//////////////////////////////////////// Typography
////////////////////////////////////////

$text_sizes: (
	supermini: 	.3125rem, 		// 5px
	ten: 			.625rem,	 		// 10px
	mini: 		.75rem, 	 		// 12px
	tiny: 		.875rem,			// 14px
	small: 		.9375rem, 		// 20px
	regular: 	1rem,				// 16px
	midreg: 		1.0625rem,	  	// 17px
	medium: 		1.125rem,	 	// 18px
	big: 			1.25rem,	 		// 20px
	tall: 		1.375rem,		// 22px
	midtall: 	1.5rem,			// 24px
	taller: 		1.625rem,		// 26px
	tallest: 	1.75rem,			// 28px
	huge: 		1.875rem,		// 30px
	double: 		2rem, 	      // 32px
	main: 		2.25rem, 		// 36px
	beast: 		2.5rem, 			// 40px
	icon: 		4rem, 			// 64px
);

//use
//map-get($text_sizes, size);

/////////////
///Shorthands
////////////

//relacion 1 : 16

$size_4:				.25rem;		//4px
$size_6:				.375rem;		//4px
$size_8:				.5rem;		//8px
$size_10:			.625rem;		//10px
$size_11:			.6875rem;	//11px
$size_12:			.75rem;		//12px
$size_13:			.8125rem;	//14px
$size_14:			.875rem;		//14px
$size_15:			15px;		//14px
$size_16: 			1rem; 		//16px
$size_18: 			1.125rem;   //18px
$size_20: 			1.25rem;   	//20px
$size_21: 			1.3125rem;	//21px
$size_22: 			1.375rem;	//22px
$size_24: 	  		1.5rem;		//24px
$size_26: 			1.675rem;   //26px
$size_28: 			1.75rem; 	//28px
$size_30: 			1.875rem;			//32px
$size_32: 			2rem;			//32px
$size_36: 			2.25rem;		//36px
$size_40: 			2.5rem; 		//40px
$size_48: 			3rem;			//48px
$size_52: 			3.25rem;		//48px
$size_56: 			3.5rem;		//56px
$size_60: 			3.75rem;		//56px
$size_64: 			4rem;			//64px
$size_74: 			4.625rem; 	//74px
$size_120: 			8.75rem; 	//120px
$size_160: 			10rem;		//160px

$headings_line_height: 1.4;
$regular_line_height: $base_line_height;

////////////
////Weights/
///////////
$weight_thin: 100;
$weight_light: 300;
$weight_regular: 400;
$weight_medium: 500;
$weight_semibold: 600;
$weight_bold: 700;
$weight_extrabold: 800;
$weight_black: 900;

$weights_map: (
	thin: $weight_thin,
	light: $weight_light,
	regular: $weight_regular,
	medium: $weight_medium,
	semibold: $weight_semibold,
	bold: $weight_bold,
	extrabold: $weight_extrabold,
	black: $weight_black
);

////////////////////////////////////////
//////////////////////////////////Colors
////////////////////////////////////////

/*********************************************/
/*********************************************/


$color_base: 					#333333 !default;
$color_white: 					white !default;
$color_dark:  		  			#555555 !default;
$color_dark_light: 			#b3b3b3 !default;
$color_light:					#f7f8f9 !default;
$color_black:  		  		#000000 !default;
$color_border: 				#d8d8d8 !default;
$color_border_dark: 			rgba($color_light, .1) !default;
$color_border_box: 			#e1e1e1 !default;
$color_border_light: 		#cccccc !default;

//!SPECIAL COLORS

$color_grey_regular:  		#36484d !default;
$color_grey_light:   		lighten($color_grey_regular, 10%) !default;
$color_grey_lighter:  		lighten($color_grey_regular, 20%) !default;
$color_grey_dark:	  			#4a4a4a !default;
$color_grey_darker:   		darken($color_grey_regular, 20%) !default;

$color_main_regular: 		#ff4d3d  !default;
$color_main_light: 			#ff4d3d !default;
$color_main_lighter: 		lighten($color_main_regular, 20%) !default;
$color_main_dark: 			#ef4e28 !default;
$color_main_darker: 			#dd4b39 !default;

$color_secondary_regular: 	#e3e8f0 !default;
$color_secondary_light: 	#dde5ea !default;
$color_secondary_lighter: 	lighten($color_secondary_light, 10%) !default;
$color_secondary_dark: 		#b5c6e7 !default;
$color_secondary_darker: 	darken($color_secondary_dark, 10%) !default;

$color_aux_regular: 			#481d53 !default;
$color_aux_light: 			lighten($color_aux_regular, 10%) !default;
$color_aux_dark: 				#292634 !default;

$color_success_regular: 	#1d9268 !default;
$color_success_light: 		lighten($color_success_regular, 10%) !default;
$color_success_dark: 		darken($color_success_regular, 10%) !default;

$color_danger_regular: 		#d0021b !default;
$color_danger_light: 		lighten($color_danger_regular, 10%) !default;
$color_danger_dark: 			darken($color_danger_regular, 10%) !default;

$color_info_regular: 		#1dbfba !default;
$color_info_light: 			lighten($color_info_regular, 10%) !default;
$color_info_dark: 			darken($color_info_regular, 10%) !default;

$color_warning_regular: 	#bf9900 !default;
$color_warning_light: 		lighten($color_warning_regular, 10%) !default;
$color_warning_dark: 		darken($color_warning_regular, 10%) !default;


$colors_map : (
	grey: (
		darkest:  	$color_dark,
		darker:   	$color_grey_darker,
		dark: 	  	$color_grey_dark,
		regular:  	$color_grey_regular,
		light:    	$color_grey_light,
		lighter:  	$color_grey_lighter,
		lightest: 	$color_light
	),
	main: (
		darker:   	$color_main_darker,
		dark: 	  	$color_main_dark,
		regular:  	$color_main_regular,
		light: 		$color_main_light,
		lighter: 	$color_main_lighter
	),
	secondary: (
		darker: 	$color_secondary_darker,
		dark: 		$color_secondary_dark,
		regular: 	$color_secondary_regular,
		light: 		$color_secondary_light,
		lighter: 	$color_secondary_lighter
	),
	aux: (
		dark: 		$color_aux_dark,
		regular: 	$color_aux_regular,
		light: 		$color_aux_light
	),
	success: (
		dark: 		$color_success_dark,
		regular: 	$color_success_regular,
		light: 		$color_success_light
	),
	info: (
		dark: 		$color_info_dark,
		regular: 	$color_info_regular,
		light: 		$color_info_light
	),
	warning: (
		dark: 		$color_warning_dark,
		regular: 	$color_warning_regular,
		light: 		$color_warning_light
	),
	danger: (
		dark: 		$color_danger_dark,
		regular: 	$color_danger_regular,
		light: 		$color_danger_light
	)
);

// social networks colors
$color_facebook: 		#3b5998;
$color_twitter: 		#55acee;
$color_googleplus: 	#dd4b39;
$color_feed: 			#dd7239;
$color_baseedin: 		#0077b5;
$color_youtube: 		#e52d27;
$color_instagram: 	#405de6;
$color_shortlink:   	#80005c;
$color_whatsapp: 		#25D366;
$color_pocket:			#f72e6b;
$color_print:			#a77ac7;
$color_email:			#ff803f;

// especial
$instagram_gradient: linear-gradient( #400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);

$social_colors_map: (
	facebook: $color_facebook,
	twitter: $color_twitter,
	googleplus: $color_googleplus,
	linkedin: $color_baseedin,
	youtube: $color_youtube,
	instagram: $color_instagram,
	shortlink: $color_shortlink,
	feed: $color_feed,
	whatsapp: $color_whatsapp,
	pocket: $color_pocket,
	print: $color_print,
	email: $color_email,
);



////////////////////////////////////////
//////////////////////////////////////// UI
////////////////////////////////////////

$title_shadow: 0 2px 4px rgba($color_dark,.5);

$tr_bg: map-get( map-get($colors_map, grey), lightest );

$th_bg: map-get( map-get($colors_map, main), lightest );
$th_color: $color_white;
$th_font_size: map-get($text_sizes, medium);
$th_align: left;
$th_font_weight: normal;

$td_font_size: map-get($text_sizes, small);
$td_line_height: 1.3;
$td_color: map-get( map-get($colors_map, grey), dark );

$loading_element:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2235%22%20height%3D%2235%22%20fill%3D%22%23ffffff%22%3E%0A%20%20%3Cpath%20opacity%3D%22.25%22%20d%3D%22M16%200%20A16%2016%200%200%200%2016%2032%20A16%2016%200%200%200%2016%200%20M16%204%20A12%2012%200%200%201%2016%2028%20A12%2012%200%200%201%2016%204%22/%3E%0A%20%20%3Cpath%20d%3D%22M16%200%20A16%2016%200%200%201%2032%2016%20L28%2016%20A12%2012%200%200%200%2016%204z%22%3E%0A%20%20%20%20%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20from%3D%220%2016%2016%22%20to%3D%22360%2016%2016%22%20dur%3D%220.8s%22%20repeatCount%3D%22indefinite%22%20/%3E%0A%20%20%3C/path%3E%0A%3C/svg%3E%0A%0A) $color_secondary_regular center center no-repeat;

//loading article manquecura
$loading_article: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2240%22%20height%3D%2240%22%20fill%3D%22%230F2F54%22%3E%0A%20%20%3Cpath%20opacity%3D%22.25%22%20d%3D%22M16%200%20A16%2016%200%200%200%2016%2032%20A16%2016%200%200%200%2016%200%20M16%204%20A12%2012%200%200%201%2016%2028%20A12%2012%200%200%201%2016%204%22/%3E%0A%20%20%3Cpath%20d%3D%22M16%200%20A16%2016%200%200%201%2032%2016%20L28%2016%20A12%2012%200%200%200%2016%204z%22%3E%0A%20%20%20%20%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20from%3D%220%2016%2016%22%20to%3D%22360%2016%2016%22%20dur%3D%220.8s%22%20repeatCount%3D%22indefinite%22%20/%3E%0A%20%20%3C/path%3E%0A%3C/svg%3E%0A%0A) $color_white center center no-repeat;