//////////////////////////////////
////////////////////////////////// Blocks
//////////////////////////////////
body {
	&.deployed--nav {
		overflow: hidden
	}
}

a {
	@include transitional;

	&:hover {
		@include transitional
	}
}

figure {
	margin: 0
}

ul,
ol {
	margin: 1rem 0;
	padding-left: 1rem;
}

hr.separator {
	border-color: rgba(#cdcdcd, 1);
	width: calc(100% - 1rem);
	margin: 1rem auto;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border: 1px solid red;
}

.wrapper {
	margin: 1.5rem 0;
	overflow: hidden;
}

.icon {
	&-main {
		color: $color_main_regular;
	}

	&-secondary {
		color: $color_secondary_regular;
	}

	&-base {
		color: $color_base;
	}

	&-white {
		color: $color_white;
	}

	&-rounder {
		border-radius: 50%;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 50000s ease-in-out 0s;
}

.gr-middle {
	display: flex;
	align-items: center;
	flex-direction: row;

	>* {
		width: 100%;
		max-width: 100%;
	}
}

.row {
	flex: 0 0 auto;
}

.elastic-img {
	display: block;
	max-width: 100%;
	height: auto;
}

.logo-img {
	display: block;
	max-height: 120px;
	width: auto;
	max-width: 250px;
}

.cover-img {
	display: block;
	width: 100%;
	height: auto;
}

.cover-object {
	@extend .cover-img;
	object-fit: cover;
	display: block;
	min-width: 100%;
	height: auto;
}

.file-img {
	max-width: 60%;
	margin: 0 15%;
	display: inline-block;
}

.content-box {
	padding: 1rem;
	margin: 1rem 0;
	background: $color_white;
	border: 1px solid map-get(map-get($colors_map, grey), lighter);
	border-radius: $base_border_radius;

	&:only-child {
		margin: 0;
	}
}

.rounded-img {
	border-radius: 50%;
}

.mq {
	background: lightpink;
	text-align: center;
	color: white;
	padding: 1rem 0;
	text-transform: uppercase;
	position: fixed;
	left: 0;
	z-index: 666;
	bottom: 0;
	width: 100%;
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: center;

	[data-check-width] {
		margin-left: 2rem;
		background: red;
	}
}

.title {
	text-transform: uppercase;
	line-height: 1.2;

	&-main {
		@extend .title;
		font-size: $size_48;

		@include media (tablet-down) {
			font-size: $size_36;
		}
	}

	&-huge {
		@extend .title;
		font-size: $size_36;

		@include media (tablet-down) {
			&:not(.single__title) {
				font-size: $size_32;
			}
		}
	}

	&-big {
		@extend .title;
		font-size: $size_32;

		@include media (tablet-down) {
			font-size: $size_28;

			&:not(.single__title) {
				font-size: $size_28;
			}
		}
	}

	&-medium {
		@extend .title;
		font-size: $size_26;

		@include media (tablet-down) {
			font-size: $size_24;

			&:not(.single__title) {
				font-size: $size_24;
			}
		}
	}

	&-small {
		@extend .title;
		font-size: $size_24;

		@include media (tablet-down) {
			font-size: $size_20;
		}
	}

	&-tiny {
		@extend .title;
		font-size: $size_20;

		@include media (tablet-down) {
			font-size: $size_18;
		}
	}
}

.text {
	font-size: $size_16;
	line-height: 1.8;

	&-medium {
		line-height: 1.8;
		font-size: $size_18;
	}

	&-small {
		line-height: 1.8;
		font-size: $size_14;
	}

	&-tiny {
		line-height: 1.8;
		font-size: $size_12;
	}

	&-min {
		line-height: 1.8;
		font-size: $size_10;
	}
}

.w-thin {
	font-weight: 100
}

.w-light {
	font-weight: 300
}

.w-regular {
	font-weight: 400
}

.w-medium {
	font-weight: 500
}

.w-semibold {
	font-weight: 600
}

.w-bold {
	font-weight: 700
}

.w-extrabold {
	font-weight: 800
}

.w-black {
	font-weight: 900
}


//////////////////////////////////
////////////////////////////////// Typoraphy
//////////////////////////////////
// font styles
.font-line-through {
	text-decoration: line-through;
}

.font-bold {
	font-weight: bold;
}

.font-italic {
	font-style: italic;
}

// font alignments
.font-centered {
	text-align: center;
}

.font-lefted {
	text-align: left;
}

.font-righted {
	text-align: right;
}

//float alignments
.float-center {
	margin-left: auto;
	margin-right: auto;
}

// font sizes
@each $size_key,
$size_val in $text_sizes {
	.font-size-#{$size_key} {
		font-size: $size_val;
	}
}

// font colors
@each $type,
$colors in $colors_map {

	@each $shade,
	$code in $colors {
		.font-color-#{$type}-#{$shade} {
			color: $code;
		}
	}
}

//////////////////////////////////
////////////////////////////////// Helper classes
//////////////////////////////////
// backgrounds and borders
@each $type,
$colors in $colors_map {

	@each $shade,
	$code in $colors {
		.bg-#{$type}-#{$shade} {
			background: $code;
		}
	}
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix {
	zoom: 1;

	&::before,
	&::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}

//////////////////////////////////
////////////////////////////////// Media helpers
//////////////////////////////////
@each $media_name,
$media_size in $medias_map {
	.hide {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				display: none;
			}

			&-up {
				@include media (#{$media_name}-up) {
					display: none;
				}
			}
		}
	}

	.show {
		&b\@#{$media_name} {
			@include media (#{$media_name}-up) {
				display: none;
			}

			@include media (#{$media_name}-down) {
				display: block;
			}
		}

		&f\@#{$media_name} {
			@include media (#{$media_name}-down) {
				display: flex;
			}

			@include media (#{$media_name}-up) {
				display: none;
			}
		}
	}
}

////////////////////
//common helpers////
///////////////////
textarea {
	resize: none;
}

.text-upper {
	text-transform: uppercase;
}

.text-lower {
	text-transform: lowercase;
}

.text-capital {
	text-transform: capitalize;
}

.click-handler {
	z-index: 5;
	@extend .icon;
	@extend .icon-chevron_down;
	@include rotate-x(0);
}

.flex {
	display: flex;

	&-col {
		@extend .flex;
		flex-direction: column;

		&-reverse {
			@extend .flex-col;
			flex-direction: column-reverse;
		}

		&-middle {
			@extend .flex-col;
			@extend .flex-middle;
		}
	}

	&-row {
		@extend .flex;
		flex-direction: row;

		&-reverse {
			@extend .flex-row;
			flex-direction: row-reverse;
		}
	}

	&-start {
		@extend .flex;
		align-items: flex-start;
	}

	&-end {
		@extend .flex;
		align-items: flex-end;
		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					display: flex;
					align-items: flex-end;
				}
				&-up{
					@include media (#{$media_name}-up) {
						display: flex;
						align-items: flex-end;
					}
				}
			}
		}
	}

	&-middle {
		@extend .flex;
		align-items: center;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					display: flex;
					align-items: center;
				}
			}
		}
	}

	&-right {
		@extend .flex;
		justify-content: flex-end;
	}

	&-center {
		@extend .flex;
		justify-content: center;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					display: flex;
					justify-content: center;
				}
			}
		}
	}

	&-left {
		@extend .flex;
		justify-content: flex-start;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					display: flex;
					align-items: flex-start;
				}
			}
		}
	}

	&-start {
		@extend .flex;
		justify-content: flex-start;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					display: flex;
					justify-content: flex-start;
				}
			}
		}
	}

	&-space-arnd {
		@extend .flex;
		justify-content: space-around;
	}

	&-space-btwn {
		@extend .flex;
		justify-content: space-between;
	}
	&-stretch{
		@extend .flex;
		justify-content: stretch;
	}
}

.flex-list {
	display: flex;
	flex-wrap: wrap;

	@each $l in $grid_map {
		&-#{$l} {
			.flex-list__item {
				width: 100%;
				max-width: calc(100% / #{$l})
			}

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						.flex-list__item {
							width: 100%;
							max-width: calc(100% / #{$l})
						}
					}
				}
			}
		}
	}

	&-1 {

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					flex-direction: column;

					.flex-list__item {
						max-width: 100%;
					}
				}
			}
		}
	}
}

.flex-row {
	display: flex;

	@for $l from 2 to 6 {
		&-#{$l} {
			$margin: calc(1rem * (#{$l} - 1));
			$width: calc((100% - #{$margin}) / #{$l});

			.flex-col {
				width: $width;

				&:not(:last-child) {
					margin-right: 1rem;
				}
			}
		}
	}
}

.air {

	@each $media_name,
	$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				margin: 0 .5rem;
				padding: .625rem;
			}
		}
	}
}

%simple-meta{
	color: $color_secondary_regular;
	text-transform: uppercase;
	font-weight: $weight_bold;
	font-size: $size_12;
	letter-spacing: 2px;
	+*{
		margin-top: 1rem;
	}
}

.flex-auto{
	display: flex;
	flex-direction: row;
	&__child{
		flex: auto;
		+.flex-auto__child{ margin-left: 1rem; }
	}
}

.list-horizontal{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	flex-wrap: nowrap;
	&__item{
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		max-height: 3rem;
	}
}