.author-box .author-avatar, .author-box .author-meta-info{
   float: inherit;
}

.author-box .authordescr{
   margin-top: 10px;
}

.blog-search-expander{
   position: relative;
}


.blog-search-expander:after{
   content: '';
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   position: absolute;
   background: url('../img/icons/icon-search.svg') 50%;
   background-repeat: no-repeat;
   background-size: 1.5rem;
}