///////////////////////////////////////////////
/////////////////////////////////////////////// Modules
///////////////////////////////////////////////
%display_meta {
	color: $color_grey_regular;
	font-size: $size_12;
	line-height: 1.4;
	letter-spacing: .5px;
	color: $color_base;
	text-transform: uppercase;
	+* {
		margin-top: 1rem;
	}
}

.box {
	display: block;

	&__figure {
		flex: 0 0 auto;
		position: relative;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

	&__body {
		flex: 1 1 auto;
		padding: $base_padding;
	}

	&__figure,
	&__body {
		display: block;
	}

	&__meta {
		@extend %display_meta;
	}

	&__title {
		display: block;
		font-weight: $weight_bold;
		text-decoration: none;
		font-size: 1rem;
		line-height: 1.44;
		&:first-child {
			margin-top: 0;
		}

		a {
			display: inline-block;
			text-decoration: none;
			transition: $base_transition;
			color: $color_base;

			&:hover {
				text-decoration: underline;
				color: $color_main_regular;
				text-shadow: 0 1px 10px rgba($color_main_regular, .25);
			}
		}
	}

	&__excerpt {
		font-size: $size_14;
		line-height: 1.6;
		font-weight: $color_base;
		color: rgba($color_base, .9);
	}

	&__data{
		display: flex;
		padding: 3px 0;
		&__item{
			font-size: $size_12;
			line-height: 1;
			padding-right: 5px;
			+.box__data__item{
				padding-left: 5px;
				border-left: 1px solid $color_border_light;
			}
			&:last-child{ padding-right: 0 }
			&--meta{
				font-weight: $weight_bold;
				color: $color_main_light;
			}
		}
	}

	&__action {
		margin: 1.5rem 0 0;
	}

	&--normal{
		border: 1px solid $color_border_box;
		&:hover{
			box-shadow: 0 1px 10px rgba($color_border_box, .5);
			@include transitional;
		}
		.box{
			&__body{
				padding: 2rem;
				@include media ($deploy_nav_down){
					padding: 1rem;
				}
			}
			&__title{
				margin: .5rem 0;
			}
			&__excerpt{
				margin: .5rem 0 0;
			}
		}
	}

	&--principal{
		@include media (small-down){
			border: 1px solid $color_border_box;
		}
		.box{
			&__title{
				font-size: $size_28;
				line-height: 1.4;
				letter-spacing: .28px;
				margin: .75rem 0;
			}
			&__excerpt{
				margin-top: .75rem;
			}
			&__body{
				padding: 0;
				@include media ($deploy_nav_down){
					padding: 1rem;
				}
			}
			&__figure{
				+.box__body{
					margin-top: 1rem;
					@include media ($deploy_nav_down){
						margin-top: 0;
					}
				}
			}
		}
	}

	&--horizontal{
		display: flex;
		align-items: flex-start;
		flex-wrap: nowrap;
		padding: 0 0 1rem;
		@include media (small-down){
			flex-direction: column;
			border: 1px solid $color_border_box;
		}
		+.box--horizontal{
			padding-top: 1rem;
			border-top: 1px solid $color_border_light;
			@include media (small-down){
				margin-top: 1rem;
				padding-top: 0;
			}
		}
		&:last-child{ padding-bottom: 0 }
		.box {
			&__figure {
				margin-right: 1rem;
				flex: 1 1 auto;
				@include media (small-down){ width: 100% }
			}
			&__body{
				padding: 0;
				@include media (small-down){ width: 100%; padding: 1rem }
			}
			&__title{
				font-size: 1rem;
				line-height: 1.44;
				margin: .5rem 0;
			}
			&__excerpt{
				margin: .5rem 0 0;
			}
		}
	}
	&--secundario{
		@extend .box--horizontal;
	}

	&--destacado{
		@extend .box--normal;
		@extend .box--horizontal;
		border: 1px solid $color_border_box;
		position: relative;
		.box{
			&__figure{
				margin: 0;
			}
			&__body{
				padding: 1rem;
			}
			&__title{
				margin: .75rem 0;
			}
			&__excerpt{
				margin: .75rem 0 0;
			}
			&__ribbon{
				width: 1.5rem;
				height: 2rem;
				background: $color_main_light;
				top: -1px;
				right: 1rem;
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 2px 2px 0 0;
				@include media (small-down){
					width: 3rem;
					height: 4rem;
				}
				&:after{
					@include get-icon($icon-star-o);
					color: $color_white;
					font-size: $size_12;
					@include media (small-down){
						font-size: 1.5rem;
					}
				}
				&:before{
					content: '';
					position: absolute;
					height: 0;
					width: 0;
					bottom: -.5rem;
					left: 0;
					border-left: .75rem solid $color_main_light;
					border-right: .75rem solid $color_main_light;
					border-bottom: .5rem solid transparent;
					border-bottom-left-radius: 2px;
					border-bottom-right-radius: 2px;
					@include media (small-down){
						border-left: 1.5rem solid $color_main_light;
						border-right: 1.5rem solid $color_main_light;
						border-bottom: .75rem solid transparent;
						bottom: -.75rem;
					}
				}
			}
		}
	}

	&--cta{
		padding: 2rem;
		@include media ($deploy_nav_down){
			padding: 1rem;
		}
		.box{
			&__body{
				display: flex;
				flex-direction: column;
				padding: 0;
			}
			&__form{
				margin-top: 1.5rem;
				width: 100%;
				.row{
					width: 100%;
					margin: 0;
				}
			}
		}
		&--center{
			padding: 2rem;
			@include media (small-down){
				padding: 1rem;
			}
		}
	}
}