.button {
	@include reset-appearance;

	display: inline-block;
	vertical-align: middle;
	padding: .75rem;
	margin: 0;
	border-radius: $base_border_radius;
	font-weight: $weight_bold;
	font-size: $size_14;
	color: map-get(map-get($colors_map, main), regular);
	text-align: center;
	line-height: 1.2;
	text-decoration: none;
	cursor: pointer;
	transition: $base_transition;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	text-transform: uppercase;

	min-width: 10rem;
	&:hover {
		color: map-get(map-get($colors_map, main), dark);
		text-decoration: none;
	}
	&:focus{
		text-decoration: none !important;
	}

	// modifiers

	@each $type, $color_map in $colors_map {
		$text_color: $color_white;
		@if $type == grey { $text_color: map-get($color_map, darker); }

		&--#{$type} {
			text-decoration: none;
			color: $text_color;
			background: map-get($color_map, regular);
			border-color: map-get($color_map, regular);

			&:hover, &:focus { 
				background: map-get($color_map, dark);
				border-color: map-get($color_map, dark);
				color: $text_color;
			}
			&:active {
				background: map-get($color_map, light);
			}

			&[class*="--ghost"] {
				background: transparent;
				color: map-get($color_map, regular);
				border: 2px solid map-get($color_map, regular);
				&:hover {
					color: $color_white;
					background: map-get($color_map, dark);
					border-color: map-get($color_map, dark);
				}
				&:active {
					color: map-get($color_map, dark);
					border-color: map-get($color_map, dark);
				}
			}
			&--glow{
				background: map-get($color_map, light);
				border-color: map-get($color_map, light);
				&:hover, &:focus { 
					background: map-get($color_map, regular);
					border-color: map-get($color_map, regular);
					color: $text_color;
					box-shadow: 0 1px 15px rgba(map-get($color_map, regular), .625);
				}
			}
      }

	}

	&--ghost-white {
		background: transparent;
		color: $color_white;
		border: 2px solid $color_white;
		&:hover {
			color: $color_main_regular;
			background: $color_white;
		}
		&:active {
			color: $color_main_regular;
			background: rgba($color_white, .75);
		}
	}

	&--ghost-dark {
		background: transparent;
		color: $color_dark;
		border: 2px solid $color_dark;
		&:hover {
			color: $color_white;
			background: $color_dark;
		}
		&:active {
			color: $color_main_regular;
			background: rgba($color_dark, .75);
		}
	}

	&--fixed {
		width: 100%;
		max-width: 20rem;
	}

	&--full {
		display: block;
		width: 100%;
		@include media (small-up){
			max-width: 25rem;
		}
	}

	&--simple {
		display: block;
		min-width: 14rem;
	}

	&--wide {
		display: block;
		min-width: 14rem;
	}

	&--extra-wide {
		display: block;
		min-width: 15rem;
	}

	&--small {
		font-weight: normal;
		font-size: map-get($text_sizes, small);
	}

	&--simple{
		font-size: 1rem;
		font-weight: $weight_bold;
		color: $color_main_regular;
		background: transparent;
		border-color: transparent;
		padding: .25rem;
		&:hover{
			background: $color_main_dark;
			color: $color_white;
		}
	}

	&[disabled], &--disabled, &--disabled[class*="--ghost"] {
		color: map-get(map-get($colors_map, grey), light);
		background: map-get(map-get($colors_map, grey), lightest);
		border: 1px solid map-get(map-get($colors_map, grey), light);
		pointer-events: none;
	}

	&--loading{
		position:relative;
		pointer-events: none;

		&:before{
			content: "";
			z-index: 100;
			position: absolute;
			left: 0;
			top: 5%;
			width: 100%;
			height: 90%;
		}

		&:after{
			content: "";
			position: absolute;
			left: 0;
			top: 5%;
			width: 100%;
			height: 90%;
			background: $loading_element;
			-webkit-animation-fill-mode: both;
			-o-animation-fill-mode: both;
			animation-fill-mode: both;
			z-index: 100;
		}
	}
}



.link{
	color: $color_secondary_regular;
	text-decoration: none;
	font-weight: $weight_semibold;
	font-size: $size_14	;
	line-height: 1.2;
	position: relative;
	&--more{
		padding-right: .75rem;
		&:after{
			@include get-icon($icon-chevron_right);
			position: absolute;
			right: 0;
			top: .125rem;
			line-height: 1;
		}
	}
	&--collapse{
		padding-right: 1rem;
		&:after{
			@include get-icon($icon-chevron_down);
			position: absolute;
			right: 0;
			top: .125rem;
			line-height: 1;
		}
		.link{
			&__less{ display: none }
		}
		&.active{
			&:after{
				transform: rotate(180deg);
			}
			.link{
				&__more{ display: none }
				&__less{ display: inline-block }
			}
		}
	}
	&--back{
		position: relative;
		color: $color_white;
		font-size: $size_10;
		font-weight: $weight_semibold;
		padding-left: 1rem;
		&:hover{
			color: $color_white;
		}
		&:before{
			@include get-icon($icon-long-arrow-left);
			color: $color_white;
			position: absolute;
			left: 0;
			top: 0;
			font-size: $size_10;
		}
	}
	&.link--top{
		width: 3rem;
		height: 3rem;
		border: 1px solid $color_secondary_regular;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		&:after{
			@include get-icon($icon-arrow_upward);
			color: $color_secondary_regular;
			font-size: 1.25rem;
		}
		&:hover{
			background: $color_secondary_regular;
			color: $color_white;
			text-decoration: none;
			&:after{ color: $color_white }
		}
	}
	&--dark{
		color: $color_base;
		&:before{ color: $color_base }
		&:hover{
			color: $color_base;
			&:before{ color: $color_base }
		}
	}
}

.ghost-link,%ghost-link{
	position: absolute;
	width: 100%; height: 100%;
	left: 0; top: 0;
	z-index: 2;
}

.btn-arrow-right,
.btn-arrow-left {
	position: relative;
	padding-left: 18px;
	padding-right: 18px;
	border-radius: 0 !important;
	margin-right: 1px;
}

.btn-arrow-right[disabled],
.btn-arrow-left[disabled] {
	opacity: 1.00;
}

.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after {
	content: "";
	position: absolute;
	top: 4px;
	/* move it down because of rounded corners */
	height: 24px;
	/* button_inner_height / sqrt(2) */
	width: 24px;
	/* same as height */
	background: inherit;
	/* use parent background */
	border: inherit;
	/* use parent border */
	border-left-color: transparent;
	/* hide left border */
	border-bottom-color: transparent;
	/* hide bottom border */
	border-radius: 0 !important;
}

.btn-arrow-right:before,
.btn-arrow-left:before {
	left: -13px;
}

.btn-arrow-right:after,
.btn-arrow-left:after {
	right: -13px;
}

.btn-arrow-right.btn-arrow-left,
.btn-arrow-left.btn-arrow-left {
	padding-right: 36px;
}

.btn-arrow-right.btn-arrow-left:before,
.btn-arrow-right.btn-arrow-left:after,
.btn-arrow-left.btn-arrow-left:before,
.btn-arrow-left.btn-arrow-left:after {
	-webkit-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	transform: rotate(225deg);
	/* rotate right arrow squares 45 deg to point right */
}

.btn-arrow-right.btn-arrow-right,
.btn-arrow-left.btn-arrow-right {
	padding-left: 36px;
}

.btn-arrow-right.btn-arrow-right:before,
.btn-arrow-right.btn-arrow-right:after,
.btn-arrow-left.btn-arrow-right:before,
.btn-arrow-left.btn-arrow-right:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	/* rotate right arrow squares 45 deg to point right */
}

.btn-arrow-right:after,
.btn-arrow-left:before {
	/* bring arrow pointers to front */
	z-index: 3;
}

.btn-arrow-right:before,
.btn-arrow-left:after {
	/* hide arrow tails background */
	background-color: white;
}


/* Large */

.btn-lg.btn-arrow-right,
.btn-lg.btn-arrow-left,
.btn-group-lg>.btn-arrow-left,
.btn-group-lg>.btn-arrow-right {
	padding-left: 22px;
	padding-right: 22px;
	margin-right: 0px;
}

.btn-lg.btn-arrow-right:before,
.btn-lg.btn-arrow-right:after,
.btn-lg.btn-arrow-left:before,
.btn-lg.btn-arrow-left:after,
.btn-group-lg>.btn-arrow-left:before,
.btn-group-lg>.btn-arrow-left:after,
.btn-group-lg>.btn-arrow-right:before,
.btn-group-lg>.btn-arrow-right:after {
	top: 6px;
	/* move it down because of rounded corners */
	height: 32px;
	/* button_inner_height / sqrt(2) */
	width: 32px;
	/* same as height */
}

.btn-lg.btn-arrow-right:before,
.btn-lg.btn-arrow-left:before,
.btn-group-lg>.btn-arrow-left:before,
.btn-group-lg>.btn-arrow-right:before {
	left: -16px;
}

.btn-lg.btn-arrow-right:after,
.btn-lg.btn-arrow-left:after,
.btn-group-lg>.btn-arrow-left:after,
.btn-group-lg>.btn-arrow-right:after {
	right: -16px;
}

.btn-lg.btn-arrow-right.btn-arrow-left,
.btn-lg.btn-arrow-left.btn-arrow-left,
.btn-group-lg>.btn-arrow-left.btn-arrow-left,
.btn-group-lg>.btn-arrow-right.btn-arrow-left {
	padding-right: 44px;
}

.btn-lg.btn-arrow-right.btn-arrow-right,
.btn-lg.btn-arrow-left.btn-arrow-right,
.btn-group-lg>.btn-arrow-left.btn-arrow-right,
.btn-group-lg>.btn-arrow-right.btn-arrow-right {
	padding-left: 44px;
}


/* Small */

.btn-sm.btn-arrow-right,
.btn-sm.btn-arrow-left,
.btn-group-sm>.btn-arrow-left,
.btn-group-sm>.btn-arrow-right {
	padding-left: 14px;
	padding-right: 14px;
	margin-right: -1px;
}

.btn-sm.btn-arrow-right:before,
.btn-sm.btn-arrow-right:after,
.btn-sm.btn-arrow-left:before,
.btn-sm.btn-arrow-left:after,
.btn-group-sm>.btn-arrow-left:before,
.btn-group-sm>.btn-arrow-left:after,
.btn-group-sm>.btn-arrow-right:before,
.btn-group-sm>.btn-arrow-right:after {
	top: 4px;
	/* move it down because of rounded corners */
	height: 20px;
	/* button_inner_height / sqrt(2) */
	width: 20px;
	/* same as height */
}

.btn-sm.btn-arrow-right:before,
.btn-sm.btn-arrow-left:before,
.btn-group-sm>.btn-arrow-left:before,
.btn-group-sm>.btn-arrow-right:before {
	left: -10px;
}

.btn-sm.btn-arrow-right:after,
.btn-sm.btn-arrow-left:after,
.btn-group-sm>.btn-arrow-left:after,
.btn-group-sm>.btn-arrow-right:after {
	right: -10px;
}

.btn-sm.btn-arrow-right.btn-arrow-left,
.btn-sm.btn-arrow-left.btn-arrow-left,
.btn-group-sm>.btn-arrow-left.btn-arrow-left,
.btn-group-sm>.btn-arrow-right.btn-arrow-left {
	padding-right: 28px;
}

.btn-sm.btn-arrow-right.btn-arrow-right,
.btn-sm.btn-arrow-left.btn-arrow-right,
.btn-group-sm>.btn-arrow-left.btn-arrow-right,
.btn-group-sm>.btn-arrow-right.btn-arrow-right {
	padding-left: 28px;
}


/* Extra Small */

.btn-xs.btn-arrow-right,
.btn-xs.btn-arrow-left,
.btn-group-xs>.btn-arrow-left,
.btn-group-xs>.btn-arrow-right {
	padding-left: 10px;
	padding-right: 10px;
	margin-right: -1px;
}

.btn-xs.btn-arrow-right:before,
.btn-xs.btn-arrow-right:after,
.btn-xs.btn-arrow-left:before,
.btn-xs.btn-arrow-left:after,
.btn-group-xs>.btn-arrow-left:before,
.btn-group-xs>.btn-arrow-left:after,
.btn-group-xs>.btn-arrow-right:before,
.btn-group-xs>.btn-arrow-right:after {
	top: 3px;
	/* move it down because of rounded corners */
	height: 14px;
	/* button_inner_height / sqrt(2) */
	width: 14px;
	/* same as height */
}

.btn-xs.btn-arrow-right:before,
.btn-xs.btn-arrow-left:before,
.btn-group-xs>.btn-arrow-left:before,
.btn-group-xs>.btn-arrow-right:before {
	left: -7px;
}

.btn-xs.btn-arrow-right:after,
.btn-xs.btn-arrow-left:after,
.btn-group-xs>.btn-arrow-left:after,
.btn-group-xs>.btn-arrow-right:after {
	right: -7px;
}

.btn-xs.btn-arrow-right.btn-arrow-left,
.btn-xs.btn-arrow-left.btn-arrow-left,
.btn-group-xs>.btn-arrow-left.btn-arrow-left,
.btn-group-xs>.btn-arrow-right.btn-arrow-left {
	padding-right: 20px;
}

.btn-xs.btn-arrow-right.btn-arrow-right,
.btn-xs.btn-arrow-left.btn-arrow-right,
.btn-group-xs>.btn-arrow-left.btn-arrow-right,
.btn-group-xs>.btn-arrow-right.btn-arrow-right {
	padding-left: 20px;
}


/* Button Groups */

.btn-group>.btn-arrow-left:hover,
.btn-group>.btn-arrow-left:focus,
.btn-group>.btn-arrow-right:hover,
.btn-group>.btn-arrow-right:focus {
	z-index: initial;
}

.btn-group>.btn-arrow-right+.btn-arrow-right,
.btn-group>.btn-arrow-left+.btn-arrow-left {
	margin-left: 0px;
}

.btn-group>.btn:not(.btn-arrow-right):not(.btn-arrow-left) {
	z-index: 1;
}
