.container{
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 .5rem;

	@include media (tablet-down) {
		padding: 0 1.5rem;
	}

	>.row {
		@include media (tablet-up) {
			margin: 0 -.5rem;
			width: calc(100% + 1rem);
			max-width: calc(100% + 1rem);
		}

		&.margin-top {
			margin-top: 2rem
		}

		&.margin-bottom {
			margin-bottom: 2rem
		}

		&--min {
			@include media (tablet-up) {
				margin: 0 -1px;
				width: calc(100% + 1px);
				max-width: calc(100% + 1px);
			}
		}
	}
	.floater.row{
		left: .5rem;
		@each $media_name, $media_size in $medias_map {
			&.no-left\@#{$media_name} {
				@include media (#{$media_name}-down) {
					left: 0;
				}
			}
		}
	}
	&--main{
		max-width: 1400px;
		@include media ($deploy_nav_up){ padding: 0 }
	}
	&--float{
		position: absolute;
		max-width: 100%;
		width: 100%;
		z-index: 1;
		+*{
			z-index: 2;
		}
		&-full{
			@extend .container--float;
			min-height: 100%;
			height: 100%;
			top: 0;
			left: 0;
			.row{
				position: relative;
				height: 100%;
				width: calc(100% + 1rem);
				&--absolute{
					position: absolute;
					top: 0;
					left: 0;
					>[class^='gr']{
						position: relative;
						overflow: hidden;
						.float__square{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
	}
	&.full-height{
		height: 100%;
	}
}

.app-brand {
	display: block;
	font-size: map-get($text_sizes, big);

	&:hover {
		text-decoration: none;
	}

	&__logo {
		max-width: 100%;
		max-height: 100%;
	}

	// Elements
	&__name, &__logo {
		display: block;
	}

	// Modifiers
	&--inline {
		.app-brand__name, .app-brand__logo {
			display: inline-block;
		}
	}

	@include media( large-down ){
		font-size: map-get($text_sizes, regular);
	}

	@include media( small-down ){
		&__name, &--inline .app-brand__name { display: none; }
	}
}

.image-box {
	display: block;
	padding: .5rem;
	background: $color_white;
	border: 1px solid map-get(map-get($colors_map, grey), lightest);
}


.collapse{
	border-bottom: 1px solid $color_grey_regular;
   +.collapse{
		margin: 0;
	}
	&__deployer{
		width: 100%;
		padding: 1.5rem;
		border: none;
		border-radius: 0;
		background-color: $color_white;
		color: $color_dark;
		font-size: 1rem;
		font-weight: $weight_semibold;
		line-height: 1.2;
      position: relative;
		text-align: left;
		@include transitional;
		&:after{
			@include get-icon($icon-chevron_bold_down);
         position: absolute;
         font-size: 1rem;
			height: 100%;
			color: $color_secondary_regular;
			top: 0;
         right: 1rem;
         display: flex;
         align-items: center;
         justify-content: center;
         @include rotate-x(0);
      }
      &:focus{outline: none}
      &.active{
			background: $color_light;
			@include transitional;
         &:after{@include rotate-x(180deg);}
		}
		&:hover{
			background: $color_light;
			@include transitional;
		}
   }
   &__body{
      display: none;
		padding: 1rem 2rem 2rem;
		font-size: $size_13;
		line-height: 1.7;
      &.active{
			display: block;
			background: $color_light;
		}
		p{
			+div{
				margin-top: .5rem;
			}
		}
	}
	&--dark{
		border: none;
		.collapse{
			&__deployer{
				background: $color_light;
				color: $color_main_regular;
				padding: 1rem;
				padding-right: 3.2rem;
				&:after{
					width: 3.2rem;
					height: 3.2rem;
					top: 0;
					right: 0;
					background: $color_main_regular;
					color: $color_white;
				}
			}
			&__body{
				&.active{ background: $color_light }
			}
		}
	}
}

.sticky-side{
	margin-top: 1rem;
}

.tablepress{
	&--fluid{

		th,td{
			padding: 1rem;
			min-width: 6rem;
			max-width: 12rem;
			border: none;
		}
		thead{
			th{
				background: $color_light;
				color: $color_main_regular;
				font-size: $size_16;
				font-weight: $weight_bold;
				line-height: 1;
				text-transform: uppercase;
				vertical-align: middle;
			}
		}
		tbody{
			td{
				font-size: $size_14;
				line-height: 1.2;
				color: $color_dark;
			}
			tr{
				border-bottom: 1px solid $color_light;
				&:last-child{
					border-bottom: none;
				}
			}
		}
		tfoot{
			tr{
				border: none;
			}
			td{
				background: rgba($color_main_light, .5);
				color: $color_dark;
				font-size: $size_16;
				font-weight: $weight_bold;
				text-transform: uppercase;
			}
		}
	}
}

.paginator{
	@include reset-list;
	margin: 0;
	display: flex;
	justify-content: center;
	&__item{
		margin: 0;
		border: none;
		+.paginator__item{
			margin-left: .5rem;
		}
		a, span{
			width: 1.75rem;
			height: 1.75rem;
			background: $color_white;
			color: $color_secondary_regular;
			border: 1px solid $color_secondary_regular;
			font-size: $size_14;
			font-weight: $weight_regular;
			line-height: 1;
			@include flex-col-center-all;
			&.no-touch:hover{
				text-decoration: none;
				color: $color_white;
				background: $color_main_regular;
			}
		}
		&.current{
			span{
				color: $color_white;
				background: $color_secondary_regular;
				font-weight: $weight_bold;
			}
		}
		&.prev a:after{ @include get-icon($icon-chevron_left) }
		&.next a:after{ @include get-icon($icon-chevron_right) }

		&.prev,&.next{
			a{
				background: transparent;
				color: $color_dark;
				&:after{
					color: $color_secondary_regular;
					font-size: 1rem;
				}
				&.no-touch:hover{
					background: $color_main_regular;
					color: $color_white;
					&:after{
						color: $color_white;
					}
				}
			}
		}
	}
}

.tab{
	&__controls{
		// border: 1px solid yellow;
		position: relative;
		display: flex;
		justify-content: center;
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background: rgba($color_light, .1);
			z-index: 1;
		}
		@include media (small-down){
			flex-wrap: wrap;
		}
		&.flex-left{
			justify-content: flex-start;
		}
	}
	&__deployer{
		@include reset-button;
		padding: .5rem 1rem;
		position: relative;
		color: $color_dark;
		width: calc(100% / 4);
		max-width: 15rem;
		text-transform: uppercase;
		font-size: $size_18;
		font-weight: $weight_semibold;
		@include media (small-down){
			padding: .5rem .25rem;
			padding-top: 1rem;
			font-size: $size_12;
			width: 50%;
		}
		span{
			opacity: .4;
			z-index: 3;
			position: relative;
			&:not(.show\@small){ display: block }
		}
		&--mini{
			font-size: $size_12;
			width: auto;
			padding: .5rem;
		}
		&:after{
			content: '';
			position: absolute;
			height: 0;
			width: 100%;
			bottom: 0;
			left: 0;
			background: $color_main_regular;
			z-index: 2;
			@include transitional;
			@include media (small-down){
				height: 3px;;
				background: rgba($color_dark, .4);
			}
		}
		&.active, &.deployed{
			opacity: 1;
			&:after{
				height: 3px;
				@include transitional;
				@include media (small-down){ background: $color_main_regular }
			}
			span{opacity: 1;}
		}
		@include active-state{
			color: $color_white;
			span{opacity: 1;}
			&:after{
				height: 100%;
				@include transitional;
			}
		}
	}
	&__contents{
		position: relative;
		// border: 1px solid yellowgreen;
	}
	&__target{
		position: absolute;
		left: 0; top: 0;
		opacity: 0;
		width: 100%;
		height: auto;
		z-index: 1;
		padding: 1rem;
		@include transitional;
		&.active{
			opacity: 1;
			position: relative;
			z-index: 3;
			@include transitional;
		}
	}
}

.response{
	display: flex;
	flex-direction: column;
	padding: 3rem;
	background: $color_light;
	&__title{
		font-size: $size_20;
		margin: 0;
		+.response__excerpt{
			margin: 1rem 0 0;
		}
	}
	&__excerpt{
		font-size: $size_13;
		line-height: 1.8;
		+.response__action{
			margin-top: 2rem;
		}
	}
	&__icon{
		max-width: 5rem;
		margin: 0 auto 2rem;
		width: 100%;
	}

	&__exit{
		flex-direction: column;
		.button{
			flex: 1;
			max-width: 100% !important;
			+.button{ margin: 1rem 0 0 }
		}
		@include media (tablet-down){
			flex-direction: row;
			flex-wrap: wrap;
			.button{
				width: calc(50% - .7rem);
				+.button{ margin: 0 0 0 1rem }
			}
		}
		@include media (small-down){
			flex-direction: column;
			.button{
				width: 100%;
				+.button{ margin: 1rem 0 0 0}
			}
		}
	}
}

.floater{
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 1;
	left: 0;
	&.row{
		max-width: 100%;
		width: 100%;
	}
	@include media (tablet-down){
		width: 100%;
	}
}

.nice-title{
	font-size: $size_18;
	line-height: 1.2;
	font-weight: $weight_bold;
	letter-spacing: .7px;
	color: $color_white;
	position: relative;
	padding-bottom: .5rem;
	text-transform: uppercase;
	margin: 0;
	&:after {
		content: '';
		position: absolute;
		height: 1px;
		width: 100%;
		max-width: 6rem;
		bottom: 0;
		left: 0;
		background: $color_white;
	}
	+.box__excerpt{
		margin: 1.5rem 0 0;
	}
}

.title-decorated{
	font-size: $size_28;
	line-height: 1.2;
	padding-bottom: .75rem;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		height: 2px;
		left: 0;
		bottom: 0;
		width: 100%;
		max-width: 5rem;
		background: $color_white;
	}
	&-dark{
		@extend .title-decorated;
		&:after{ background: $color_dark }
	}
}

.breadcrumbs{
	position: relative;
	&__list{
		@include reset-list-alt;
		display: flex;
		&__item{
			font-size: $size_12;
			&:not(.breadcrumbs__list__item--current){
				font-weight: $weight_bold;
			}
			+.breadcrumbs__list__item{
				margin-left: .25rem;
				&:before{
					@include get-icon($icon-chevron_right);
					margin-right: .25rem;
				}
			}
		}
	}
	&__mobile{
		.link{
			&.link--back{
				color: $color_base;
				&:before{
					color: $color_base;
				}
			}
		}
	}
}


%content-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
	li{
		position: relative;
		margin: 0;
		padding-left: 2rem;
		&:before{
			@include get-icon($icon-play_arrow);
			position: absolute;
			left: .125rem;
			top: .125rem;
			color: $color_secondary_dark;
			line-height: 1;
		}
		+li{
			margin-top: 1rem;
		}
	}
}

%wp-image{
	display: block;
	width: 100%;
	overflow: hidden;
}

.checklist, %checklist{
	@include reset-list-alt;
	&__item, li{
		padding: 1.5rem 0;
		padding-left: 2rem;
		border-bottom: 1px solid $color_grey_light;
		color: $color_dark;
		font-size: $size_14;
		line-height: 1.6;
		position: relative;
		margin: 0;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 1.5rem;
			width: 1rem;
			height: 1rem;
			font-weight: $weight_light;
			color: $color_secondary_regular;
			font-size: $size_18;
			line-height: 1;
			background: transparent url($images_path + '/font-icons/color/icon-check-circle.svg') 50% 50% no-repeat;
			background-size: 100%;
		}
		h3,h4,h5{
			line-height: 1.2;
			margin: 0;
			+p{ margin-top: .25rem }
		}
		p{
			margin: 0;
			+p{ margin-top: .25rem }
		}
	}
}