.footer-bar {
	margin: 0;
	padding: 2rem 0;
	position: relative;
	background: $color_grey_dark;
	@include media (medium-down){
		padding: 3rem 0 5rem;
	}
	&__logo{
		max-width: 15rem;
		@include media (medium-down){
			margin: 0 auto;
			img{margin: 0 auto;}
		}
	}

	&__link {
		display: block;
		font-weight: bold;

		&:not(:first-child) {
			margin-top: .5rem;
		}

		&--inline {
			display: inline-block;
			vertical-align: middle;
			padding: 0 1rem;

			&:not(:first-child) {
				margin-top: 0;
			}
		}
	}

	&__social {
		@include flex-row;
		.social-link {
			margin: 0;
			width: 2.5rem;
			height: 2.5rem;
			position: relative;
			border: none;
			border-radius: 0;
			@include flex-col-center-all;
			@include transitional;
			a{
				@extend %ghost-link;
			}
			&:before{ color: $color_main_regular; }
			&:hover {
				text-decoration: none;
				transform: scale(1.1);
				@include transitional;
			}
			+.social-link{ margin-left: .25rem }
		}
		@include media (tablet-down){
			justify-content: center;
		}
	}

	&__section{
		color: $color_dark;
		font-size: $size_14;
		line-height: 1.4;
		margin: 0;
		p{
			margin: 0;
			+p{ margin-top: .125rem }
			a{
				color: $color_dark;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
					color: $color_main_regular;
				}
			}
		}
		@include media (tablet-up){
			+.footer-bar__section{ margin: 2rem 0 0 }
		}
		@include media (tablet-down){
			text-align: center;
			margin: 0;
			padding: 1rem 0;
			border-top: 1px solid rgba($color_secondary_dark, .5);
		}
	}

	&__title{
		margin: 0 0 .5rem;
		font-size: $size_18;
		line-height: 1.2;
		font-weight: $weight_medium;
	}

	&__excerpt{
		line-height: 1.8;
	}

	&__nav{
		margin: 0;
		padding: 0;

		&__holder{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			@include media (phablet-down){ flex-direction: column }
		}
		&__col{
			display: flex;
			flex-direction: column;
			list-style-type: none;
			flex: 1;
			width: 100%;
			max-width: calc(50% - .25rem);
			+.footer-bar__nav__col{ margin-left: .5rem }
			@include media (phablet-down){
				max-width: 100%;
				+.footer-bar__nav__col{ margin: 1rem 0 0 }
			}
		}

		+.footer-bar__nav:not(.footer-bar__nav__col){
			margin-top: 1rem;
		}

		.menu-item{
			margin: 0;
			+.menu-item{
				margin-top: 1rem;
			}
			>a{
				display: inline-block;
				color: rgba($color_white, .8);
				width: auto;
				font-size: $size_11;
				font-weight: $weight_black;
				flex-basis: auto;
				line-height: 1.4;
				letter-spacing: 1.5px;
				padding: 0;
				@include active-state{
					color: $color_white;
					text-decoration: underline;
				}
				&:after,&:before{
					content: none;
				}
			}
			&.current-menu-item,&.current-page-ancestor,&.current-menu-ancestor{
				>a{
					color: $color_white;
					text-decoration: underline;
				}
			}
		}
		&--info{
			display: flex;
			flex-direction: column;
			.menu-item{
				position: relative;
				text-transform: none;
				padding-left: 1.125rem;
				>a{
					font-size: $size_12;
					font-weight: $weight_regular;
				}
				&:after{
					content: 'x';
					position: absolute;
					left: 0;
					top: 0;
					color: rgba($color_white, .25);
					font-size: $size_14;
				}
				&.address:after{ @include get-icon($icon-place)}
				&.phone:after{ @include get-icon($icon-phone)}
				&.email:after{ @include get-icon($icon-envelope-o)}
				&.external:after{ @include get-icon($icon-external-link); font-size: 12px; top: 1px; }
			}
		}
		&--social{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			.menu-item{
				@extend .social-link;
				width: 2rem;
				height: 2rem;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0;
				letter-spacing: normal;
				background: rgba($color_white, .09);
				border-radius: 0;
				>a{
					position: absolute;
					text-indent: 100%;
					white-space: nowrap;
					overflow: hidden;
				}
				@each $type, $color in $social_colors_map {
					&.#{$type}{
						background: rgba($color_white, .09);
					}
				}
				&:before{ font-size: 1rem }
				+.menu-item{ margin: 0 0 0 .125rem }
			}
		}
	}
}