.form-control {

	//////// Elements
	+.form-control:not(.form-control--horizontal):not(.no-margin) {
		margin: 1.75rem 0 0;
	}

	&__row {
		display: flex;
		align-items: center;

		@include media (small-down) {
			flex-direction: column;
			align-items: flex-start;
		}

		.min {
			margin-right: 1rem;
		}
	}

	&__label {
		display: block;
		font-size: $size_14;
		font-weight: $weight_bold;
		color: $color_base;
		margin: 0 0 .5rem;
	}

	&__field {
		@include reset-appearance;
		color: rgba($color_base, .5);
		font-size: $size_14;
		line-height: 1.4;
		display: block;
		width: 100%;
		padding: .75rem 1rem;
		background: $color_white;
		border: 1px solid rgba($color_base, .25);
		border-radius: $base_border_radius;
		box-shadow: 0;
		transition: $base_transition;

		@include media (tablet-down) {
			font-size: 1rem;
		}

		// pseudos
		@include placeholder {
			color: rgba($color_base, .5);
		}

		&:hover,
		&:focus {
			border-color: rgba($color_base, .75);
		}

		&:focus {
			outline: none;
			border-color: rgba($color_base, .75);
			box-shadow: 0 1px 15px rgba($color_base, .25);
		}

		&[disabled],
		&[readonly],
		&--disabled,
		&.blocked {
			pointer-events: none;
		}

		// integration with validizr
		&.invalid-input {
			border-color: map-get(map-get($colors_map, danger), regular);
			color: $color_danger_regular;
		}

		&.valid-input {
			border-color: map-get(map-get($colors_map, success), regular);
			color: $color_success_regular;
		}

		// modifiers
		&--select {
			@extend .form-control__field;
			@include remove-select-arrow;
			cursor: pointer;
			padding-right: 2rem;
			background: $color_white url($images_path + '/font-icons/dark/icon-chevron_down.svg') calc(100% - .5rem) 50% no-repeat;
			background-size: 1.25rem;

			&_icon {
				@extend .form-control__field;
				@include remove-select-arrow;
				cursor: pointer;
				padding-right: 2rem;
				background: $color_white $icon-accessible calc(100% - .5em) 50% no-repeat;
			}

			&.min {
				max-width: 4rem;
			}
			&.loading{
				opacity: .25;
				pointer-events: none;
			}
		}

		&--calendar {
			@extend .form-control__field;
			cursor: pointer;
			padding-right: 2rem;
			background: $color_white url($images_path + '/font-icons/dark/icon-calendar.svg') calc(100% - .5em) 50% no-repeat;
			background-size: map-get($text_sizes, tall);
		}

		&--bg {
			@extend .form-control__field;
			border-radius: 0;

			&.valid-input {
				background: $color_white url($images_path + '/font-icons/color/icon-check.svg') calc(100% - .5rem) 50% no-repeat;
				background-size: map-get($text_sizes, tall);
			}

			&.invalid-input {
				background: $color_white url($images_path + '/font-icons/color/icon-close.svg') calc(100% - .5rem) 50% no-repeat;
				background-size: map-get($text_sizes, tall);
			}
		}

		&.hide {
			display: none
		}
	}

	&__select {
		@extend .form-control__field--select;
		&.selected{
			border-color: $color_main_regular;
		}
		&.big{
			font-size: $size_18;
			font-weight: $weight_semibold;
			&.selected{
				color: $color_main_regular;
			}
			&.wait{
				opacity: .25;
				pointer-events: none;
			}
			@include media (tablet-down){ font-size: 1rem }
		}
	}

	&__range {
		@include reset-appearance;
		display: block;
		width: 100%;
		margin: 1.75rem 0;

		&:focus {
			outline: none;
		}

		@include range-track {
			width: 100%;
			background: map-get(map-get($colors_map, grey), regular);
			height: 2px;
			border-radius: 2px;
			transition: $base_transition;
		}

		@include range-thumb {
			@include reset-appearance;

			$diameter: map-get($text_sizes, tall);
			$radius: ($diameter / 2) * -1;

			display: block;
			width: $diameter;
			height: $diameter;
			background: $color_white;
			border: 1px solid map-get(map-get($colors_map, grey), regular);
			border-radius: $diameter;
			margin-top: calc(#{$radius} + 1px);
			cursor: pointer;
			transition: $base_transition;
		}

		&:hover,
		&:focus {
			@include range-track {
				background: map-get(map-get($colors_map, main), regular);
			}

			@include range-thumb {
				border-color: map-get(map-get($colors_map, grey), dark);
				transform: scale(1) translateZ(0);
			}
		}
	}

	&__group {
		display: table;
		width: 100%;
		vertical-align: middle;

		&__addon {
			display: block;
			padding: .5rem 0;
			line-height: $base_line_height;
			font-size: map-get($text_sizes, regular);
			border: 1px solid map-get(map-get($colors_map, grey), lighter);
			text-align: center;

			&--seamless {
				border-width: 1px 0 1px 0;
			}

			&--has-button {
				padding: 0;

				.button {
					margin: -1px 0;
					padding: .7em;
				}
			}

			&:first-child {
				border-radius: $base_border_radius 0 0 $base_border_radius;
				border-right: 0;

				.button {
					border-radius: $base_border_radius 0 0 $base_border_radius;
				}
			}

			&:last-child {
				border-radius: 0 $base_border_radius $base_border_radius 0;
				border-left: 0;

				.button {
					border-radius: 0 $base_border_radius $base_border_radius 0;
				}
			}

			&:empty {
				padding: .5em 0;
				width: 0;
			}
		}

		&__addon,
		.form-control__field,
		.form-control__range {
			display: table-cell;
			vertical-align: middle;
		}


		// modifier by context, maybe anti BEM
		.form-control__field {
			border-radius: 0;

			&:first-child {
				border-radius: $base_border_radius 0 0 $base_border_radius;
			}

			&:last-child {
				border-radius: 0 $base_border_radius $base_border_radius 0;
			}
		}

		// modifiers
		&--seamless {
			.form-control__group__addon {
				border: none;

				&:first-child {
					text-align: right;
				}

				&:last-child {
					text-align: left;
				}
			}
		}
	}

	&__text {
		margin: .5rem 0 0;
		font-size: $size_12;
		line-height: 1.2;
		color: $color_dark;
	}

	&__check {
		@include reset-appearance;
		width: calc(1rem + 2px);
		height: calc(1rem + 2px);
		border: 1px solid $color_grey_light;
		display: block;
		position: relative;
		cursor: pointer;

		&:checked {
			background: $color_main_regular;

			&:after {
				@include get-icon($icon-check);
				color: white;
				font-size: .75rem;
				position: absolute;
				width: 100%;
				height: 100%;
				@include flex-col-center-all;
			}
		}
	}

	&__radio {
		display: flex;
		align-items: center;

		.form-control {
			&__label {
				font-weight: $weight_regular;
				display: inline-block;
				margin: 0 0 0 .5rem !important;
				cursor: pointer;
			}
		}

		input {
			@include reset-appearance;
			width: calc(1rem + 2px);
			height: calc(1rem + 2px);
			border: 1px solid $color_grey_light;
			border-radius: 50%;
			display: block;
			position: relative;
			cursor: pointer;

			&:checked {
				&:after {
					content: '';
					position: absolute;
					font-size: .5rem;
					width: calc(1rem - 4px);
					height: calc(1rem - 4px);
					top: 2px;
					left: 2px;
					background: $color_main_regular;
					border-radius: 50%;
					@include flex-col-center-all;
				}
			}
		}
	}

	&__file {
		@extend .form-control__field;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		background: #fff url($images_path + '/font-icons/dark/icon-attach_file.svg') calc(100% - .25rem) 50% no-repeat;

		&__text {
			display: block;
			font-size: 1rem;
			color: inherit;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&__input {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			cursor: pointer;
			z-index: 1;
			width: 100%;
			height: 100%;
		}

		&--btnlike {
			@extend .form-control__file;
			background: $color_main_regular;
			border-color: $color_main_regular;
			color: white !important;

			.form-control {
				&__file {
					&__text {
						padding-left: 1.5rem;
					}
				}
			}

			&:before {
				@include get-icon($icon-insert_drive_file);
				position: absolute;
			}
		}

		&--formlike {
			@extend .form-control__group;
			position: relative;
			table-layout: fixed;

			.form-control {
				&__file {
					&__btn {
						@extend .form-control__group__addon;
						background: $color_main_regular;
						border-color: $color_main_regular;
						color: $color_white;
						width: 30%;
					}

					&__text {
						@extend .form-control__field;
						width: 70%;
					}
				}
			}
		}
	}


	&--horizontal{
		margin: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		@include media ($deploy_nav_down){
			flex-direction: column;
			align-items: flex-start;
		}
		.form-control{
			&__label{
				margin: 0 .5rem 0 0;
				flex: 1;
				text-align: right;
				@include media ($deploy_nav_down){
					margin: 0 0 .5rem;
					text-align: left;
				}
			}
			&__field{
				max-width: 100%;
			}
		}
	}

	&.no-margin{
		margin: 0;
	}
}


.invalid-control {
	.form-control__field {
		border-color: map-get(map-get($colors_map, danger), regular);
		color: map-get(map-get($colors_map, danger), regular);
	}
	.form-control__text{ color: map-get(map-get($colors_map, danger), regular) }

	&[data-error-message] {
		&::after {
			content: attr(data-error-message);
			display: block;
			margin: .25rem 0 0;
			font-size: .875rem;
			font-weight: bold;
		}
	}

	.invalid-input {
		// background: $color_white url($images_path + '/font-icons/color/input-error.svg') 100% 50% no-repeat;
		// background-size: 2rem;
		// transition: 0s;
	}
}

.valid-control {

	.form-control__text,
	.form-control__field {
		&:not(.wait){
			color: map-get(map-get($colors_map, success), regular);
		}
	}

	.form-control__field {
		border-color: map-get(map-get($colors_map, success), regular);
	}

	// .form-control__text{
	// 	display: none;
	// }
	&[data-success-message] {
		&::after {
			content: attr(data-success-message);
			display: block;
			margin: .25rem 0 0;
			font-size: .875rem;
			font-weight: bold;
		}
	}

	.valid-input {
		background: $color_white url($images_path + '/font-icons/color/input-exito.svg') 100% 50% no-repeat;
		background-size: 2rem;
		transition: 0s;
	}
}

// extra elements
.form-switch {
	display: flex;
	padding: 0;
	cursor: pointer;

	input {
		display: none;
	}

	&__label {
		font-size: $size_14;
		flex: 1;
		margin-left: .5rem;
	}

	&__input,
	&__label {
		display: inline-block;
		vertical-align: middle;
	}

	&__input {
		height: 1em;
		width: 1em;
		border: 1px solid map-get(map-get($colors_map, secondary), regular);
		background: $color_white;
		position: relative;
		transition: $base_transition;

		&::before {
			content: "";
			display: block;
			height: 1em;
			width: 1em;
			position: absolute;
			top: -1px;
			left: -1px;
		}

		:checked+& {
			border-color: map-get(map-get($colors_map, secondary), regular);
			background: map-get(map-get($colors_map, secondary), regular);
		}

		// modifiers
		&--checkbox {
			border-radius: $base_border_radius;
			top: .25rem;

			:checked+& {
				&::before {
					background: url($images_path + '/font-icons/light/icon-check.svg') 50% 50% no-repeat;
					background-size: contain;
				}
			}
		}

		&--radio {
			border-color: map-get(map-get($colors_map, grey), light);
			border-radius: 100%;

			&::before {
				border-radius: 100%;
				transform: scale(0);
				background: $color_white;
				transition: $base_transition;
			}

			:checked+& {
				&::before {
					transform: scale(.5);
				}
			}
		}

		&--toggle {
			border-radius: 1em;
			width: 3em;
			background: map-get(map-get($colors_map, grey), lighter);
			border: 1px solid map-get(map-get($colors_map, grey), light);

			&::before {
				border-radius: 1em;
				background: $color_white;
				border: 1px solid map-get(map-get($colors_map, grey), regular);
				transform: translateX(0);
				transition: $base_transition;
			}

			:checked+& {
				background: map-get(map-get($colors_map, main), regular) url($images_path + '/font-icons/light/icon-pause.svg') .5em 50% no-repeat;
				background-size: contain;

				&::before {
					transform: translateX(2em);
					border-color: map-get(map-get($colors_map, main), dark);
				}
			}
		}
	}

	&:hover {
		.form-switch__input {
			border-color: map-get(map-get($colors_map, secondary), regular);
		}
	}

	// Modifiers
	&--block {
		display: block;
		padding: .5em 0;
	}
}


.form-parent {
	padding: 2rem;
	background: rgba($color_light, .5);

	@include media (small-down) {
		padding: 1rem;
	}

	&__title{
		font-size: $size_14;
		font-weight: $weight_semibold;
		text-transform: uppercase;
		color: $color_main_regular;
		margin: 0 0 1rem;
	}
	&__excerpt{
		font-size: $size_13;
		line-height: 1.7;
		margin-top: 1rem;
	}

	&--call {
		background: $color_aux_regular;
		padding: 3.75rem;
		height: 100%;
		display: flex;
		align-items: center;
		width: 100%;

		@include media (small-down) {
			padding: 2rem;
		}

		form {
			width: 100%
		}

		.form {
			&-control {
				&__label {
					color: $color_grey_light;
				}
			}
		}

		.button {
			padding: 1rem;
			font-size: $size_12;

			&:before {
				@include get-icon($icon-search);
				margin-right: .5rem;
				line-height: 1;
				vertical-align: top;
			}
		}
	}

	&--search{
		position: relative;
		margin-top: 2rem;
		border-radius: 8px;
		overflow: hidden;
		.form-control{
			margin: 0;
			&__field{
				&--select{
					padding: 1.5rem;
					font-size: $size_18;
					color: $color_grey_regular;
					font-weight: $weight_medium;
					border: none;
					background-size: 1.5rem;
				}
			}
			.button{
				height: 100%;
				font-size: $size_20;
				border-radius: 4px;
			}

			&--action{
				@extend .gr-12, .bg-white, .flex-middle;
				@include media (medium-up){
					border-left: 1px solid $color_border;
				}
				@include media (medium-down){
					border-left: none;
					border-top: 1px solid $color_border;
				}
			}

			+.form-control{
				border-left: 1px solid $color_border;
				@include media(tablet-down){
					border-left: 0;
					border-top: 1px solid $color_border;
				}
			}
		}
	}
}