////////////////////////////////////////
//////////////////////////////////////// Header general
////////////////////////////////////////
.header-bar {
	position: fixed;
	background: $color_white;
	z-index: 9;
	width: 100%;
	height: auto;
	left: 0;
	top: 0;
	@include transitional;

	box-shadow: 0px 1px 2px rgba($color_border_box, .5);
	// @include media ($deploy_nav_down){
	// }

	&.sticked {
		box-shadow: 1px 2px 5px rgba($color_dark, .5);
		@include transitional;
	}
}

.menu-item {
	display: flex;
	font-size: $size_12;
	font-weight: $weight_black;
	line-height: 1;
	letter-spacing: 1.1px;
	text-transform: uppercase;
	margin: 0;
	@include transitional;

	@include media ($deploy_nav_down) {
		font-size: $size_14;
		display: inline-block;
		width: auto;
	}

	+.menu-item {
		margin-left: .5rem;

		@include media ($deploy_nav_down) {
			margin: 1rem 0 0;
		}
	}

	>a {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		flex-basis: 100%;
		padding: .5rem;
		color: $color_base;
		@include transitional;

		@include media (large-down) {
			padding: .5rem .2rem;
		}

		@include media ($deploy_nav_down) {
			display: inline-block;
			width: auto;
			color: $color_white;
		}

		&:before {
			content: '';
			height: 0;
			width: 1.5rem;
			background: $color_main_light;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);

			@include media ($deploy_nav_down) {
				left: .25rem;
				transform: none;
				height: 2px;
				width: 0;
			}
		}

		@include active-state {
			color: $color_main_dark;
			text-decoration: none;

			&:before {
				height: 2px;
				@include transitional;

				@include media ($deploy_nav_down) {
					width: 1.5rem;
				}
			}
		}
	}

	&.search {
		display: flex;
		margin-left: .5rem;

		button.icon {
			@include reset-button;
			position: relative;
			width: 2rem;
			height: 100%;
			color: $color_white;
			display: flex;
			align-items: center;
			height: 100%;
			@include transitional;

			&:before {
				@include flexcenter;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				font-size: 2rem;
				color: $color_main_light;

				@include media (large-down) {
					font-size: 1.5rem;
				}
			}

			&.deployed {
				background-color: $color_white;
				@include transitional;

				&:before {
					content: $icon-close;
					color: $color_dark;
					@include transitional;
				}
			}
		}
	}

	&.current-menu-item,
	&.current-page-ancestor,
	&.current-menu-ancestor {
		>a {
			color: $color_main_regular;

			&:before {
				height: 2px;

				@include media ($deploy_nav_down) {
					width: 1.5rem;
				}
			}
		}
	}

	&.external {
		font-size: $size_14;
		font-weight: $weight_bold;

		@include media (large-down) {
			font-size: $size_12;
		}

		@include media ($deploy_nav_down) {
			font-size: $size_14;
		}

		>a {
			color: $color_dark;
			@include media ($deploy_nav_down) {
				color: $color_white;
			}

			&:after {
				@include get-icon($icon-external-link);
				color: $color_main_light;
				margin-left: .25rem;
			}
		}
	}
}

.nav-bar {
	background: transparent;
	padding: 0;
	@include transitional;

	@include media ($deploy_nav_down) {
		position: relative;
	}

	&__holder {
		display: flex;
	}

	&__brand,
	&__body {
		max-width: 100%;
		display: flex;
		align-items: center;
	}

	&__brand {
		flex: 0 0 auto;

		@include media (large-down) {
			max-width: 10rem
		}

		@include media ($deploy_nav_down) {
			flex: 0 1 auto;
			order: 2;
			justify-content: center;
			width: 100%;
			width: 100%;
			padding-left: 3.5rem;
			height: 100%;
			min-height: 3.5rem;
			min-width: 300px;
			max-width: 100%;
			background: $color_white;
		}

		.app-brand {
			padding: 1rem 0;
			position: relative;

			&__logo {
				max-width: 200px;
				position: relative;
				z-index: 2;

				@include media (large-down) {
					max-width: 100px;
				}
			}
		}
	}

	&__body {
		flex: 1 1 auto;
		@include media ($deploy_nav_down) {
			background: $color_grey_regular;
			order: 1;
			position: fixed;
			z-index: 1000;
			top: 0;
			left: 0;
			transform: translateX(-100%);
			width: 100%;
			min-width: 300px;
			z-index: 9;
			height: 100vh;
			display: block;
			padding-top: 3.5rem;
			@include transitional;

			&.deployed {
				transform: translateY(0);
				overflow-y: auto;
				box-shadow: 2px 2px 8px 8px rgba($color_dark, .5);
				@include transitional;
			}
		}
	}

	&__menu-holder {
		width: 100%;
		display: flex;
		justify-content: flex-end;

		@include media ($deploy_nav_down) {
			flex-direction: column;
			padding: 2rem 3.5rem;
		}
	}

	&__menu {
		@include reset-list;
		display: flex;
		justify-content: flex-end;
		align-items: stretch;

		@include media ($deploy_nav_down) {
			flex-direction: column;
			margin: 2rem 0 0;
		}
	}

	&__mobile-head {
		display: flex;

		@include media ($deploy_nav_down) {
			width: 100%;
			height: 100%;
			min-height: 3.5rem;
			z-index: 11;
			span {
				display: block;
				margin: 0 auto;
				width: 1.75rem;
				height: 2px;
				background: $color_white;
				position: relative;
				@include transitional;

				&::before,
				&::after {
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					background: $color_white;
					position: absolute;
					left: 0;
					right: 0;
					top: calc(50% - 1px);
					transform: rotateZ(0);
					@include transitional;
				}

				&::before {
					transform: translateY(-8px) rotateZ(0);
				}

				&::after {
					transform: translateY(8px) rotateZ(0);
				}
			}
		}
	}

	&__mobile-menu {
		@include media ($deploy_nav_down) {
			border: none;
			width: 3.5rem;
			height: 3.5rem;
			position: absolute;
			color: $color_white;
			top: 0;
			background: $color_main_light;
			&.deployed{
				+.nav-bar__brand{ background: $color_white }
				&.deployed {

					span {
						background: transparent;

						&::before {
							transform: translateY(0) rotateZ(45deg);
						}

						&::after {
							transform: translateY(0) rotateZ(-45deg);
						}
					}
				}
			}
		}
	}

	&__search {
		position: absolute;
		top: 100%;
		height: 0;
		z-index: 4;
		width: 100%;
		overflow: hidden;
		@include transitional;

		&.deployed {
			height: 3.75rem;
			@include transitional;
		}

		@include media ($deploy_nav_down) {
			transform: translateY(-3.5rem);

			&.deployed {
				transform: translateY(3.5rem)
			}
		}
	}
}

.search {
	&-module {
		display: flex;
		overflow: hidden;
		background: $color_white;
		max-width: $tablet;
		margin-left: auto;

		@include media ($deploy_nav_up) {
			height: 2.75rem;
			min-width: 15rem;
			@include shadow;
		}

		@include media ($deploy_nav_down) {
			// height: 3.5rem;
			max-width: 100%;
		}
	}

	&-input {
		flex: 1;
		border: none;
		padding: .75rem;
		border-radius: 0 !important;
		font-size: $size_14;
		line-height: 1.2;
		background: $color_main_regular;
		color: $color_white;
		@include placeholder-color($color_light);
		@include transitional;

		&:focus {
			outline: none;
			background: $color_main_light;
			@include transitional;
		}

		@include media (tablet-down) {
			font-size: 1rem
		}

		@include media ($deploy_nav_down) {
			padding: .75rem .5rem;
			background: $color_grey_regular;
			@include placeholder-color($color_aux_light);

			&:focus {
				background: $color_white;
				color: $color_dark;

				+.search-button {
					background: $color_white;

					&:after {
						color: $color_base;
					}
				}
			}
		}
	}

	&-button {
		@include reset-appearance;
		position: relative;
		background: $color_main_regular;
		color: $color_white;
		margin: 0;
		width: 2.5rem;
		@include transitional;

		&:after {
			@include get-icon($icon-search);
			color: $color_white
		}

		&.no-touch:hover,
		&:focus {
			background: $color_main_dark;
			@include transitional;

			&:after {
				color: $color_white
			}
		}

		@include media ($deploy_nav_down) {
			margin: 0;
			width: 3.5rem;
			background: $color_grey_regular;

			&:after {
				font-size: 1.5rem
			}
		}
	}
}