%horizon_shadow {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: $color_grey_darker;
}

.horizon {
	position: relative;
	padding: 2rem 0;

	&__title {
		font-size: $size_36;
		font-weight: $weight_black;
		line-height: 1.14;
		color: $color_base;
		margin: 0;

		+.horizon__excerpt,
		+.row {
			margin-top: 1rem;
		}
	}

	&__excerpt {
		font-size: 1rem;
		line-height: 1.4;
		color: $color_dark;
		padding: 1rem 0;

		&.excerpt-center {
			text-align: center;
		}
	}

	&__meta {
		font-size: $size_18;
		font-weight: $weight_black;
		text-transform: uppercase;
		margin: .75rem 0;
		color: rgba($color_base, .75);
	}

	&__figure {
		overflow: hidden;
		border-radius: 50%;
	}

	&__action {
		margin: 1.5rem 0 0;
	}

	&--destacado {
		// padding-top: 0;
	}

	&--author {
		padding-top: 4rem;
		position: relative;

		&:after {
			content: '';
			width: 70%;
			margin: 0 auto;
			height: 1px;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			background: $color_border_box;
			display: block;
			position: absolute;
			@include media (tablet-down){
				width: calc(100% - .75rem);
			}
		}

		.horizon__excerpt {
			margin: 0;
			padding: 0;
		}
	}
}