.modal{
	display: block;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba( $color_main_regular, 0 );
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	transition: all 1ms ease;
   z-index: 9999999;
	&__body {
		touch-action: pan-y;
		display: block;
      width: 100%;
      padding: 0;
	}

	&__content {
		display: block;
		min-width: 70%;
		margin: 5% auto;
		background: $color_white;
		position: relative;
		border-radius: $base_border_radius;
		box-shadow: 0 0 0 rgba($color_dark, .35 );
		transform: translateY(4rem);
		opacity: 0;
		transition: all 1ms ease;
      position: relative;
		&.loaded {
			box-shadow: 0 0 1rem rgba($color_dark, .35 );
			transform: translateY(0);
			opacity: 1;
		}
	}
	&__button{
		right: 10%;
		top: 10%;
		z-index: 2;
		position: absolute;
		background: $color_main_regular;
		color: $color_white;
		border-radius: 0;
		border: none;
		font-size: 1.5rem;
		width: 3rem;
      height: 3rem;
      opacity: 0;
      @include transitional;
		&:after{
         @include get-icon($icon-close);
      }
      &:hover,&:focus,&:visited{
         outline: none;
         background: $color_secondary_regular;
         @include transitional;
      }
      &.loaded{
         opacity: 1;
         @include transitional;
      }
	}

	&--loaded {
      background: rgba( $color_main_regular, .75 );
      .modal__button{
         opacity: 1;
         @include transitional;
      }
   }
   &.hide{
      display: none;
      opacity: 0;
      transition: all 100ms ease-in-out;
   }
}

.modal{
   &__body{
      @extend .container;
      padding: 0;
      width: 100%;
      position: relative;
   }
   &__content{
      // @extend .gr-9;
      padding: 0;
      border-radius: 0;
      background: transparent;
      opacity: 0;
      // max-width: 75%;
      @include transitional;
      &.loaded{
         opacity: 1;
         @include transitional;
      }
      @each $col in $cols_map{
         &.gr-#{$col}{
            flex-basis: calc((100% / 12) * #{$col});
            max-width: calc((100% / 12) * #{$col});
            min-width: calc((100% / 12) * #{$col});
            width: calc((100% / 12) * #{$col});
            @each $media_name, $media_size in $medias_map {
               &\@#{$media_name} {
                  @include media (#{$media_name}-down) {
                     flex-basis: calc((100% / 12) * #{$col});
                     max-width: calc((100% / 12) * #{$col});
                     min-width: calc((100% / 12) * #{$col});
                     width: calc((100% / 12) * #{$col});
                  }
               }
            }
         }
      }
   }

   &__button{
      top: 0;
      right: 0;
		display: flex;
		align-items: center;
      justify-content: center;
      &.suffix-2{
			transition: 0s;
      }
      &.suffix-1{
         // right: calc(.5rem - 2px);
         transition: 0s;
         @each $media_name, $media_size in $medias_map {
            &\@#{$media_name}{
               @include media (#{$media_name}-down){
                  // right: .75rem;
               }
            }
         }
      }
      &.suffix-0{
         // right: calc(.5rem);
         transition: 0s;
         @each $media_name, $media_size in $medias_map {
            &\@#{$media_name}{
               @include media (#{$media_name}-down){
                  // right: 1.5rem;
               }
            }
         }
      }
      &.suffix-1_5{
         margin-right: calc((25% / 2) - 1px);
         // right: calc(.5rem - 1px);
		}
		@include media (phablet-down){
			width: 2.5rem;
			height: 2.5rem;
		}
   }

   &-box{
      background: $color_white;
		padding: 3rem;
		@include media (tablet-down){ padding: 4rem 2rem }
      &__title{
         @extend .title-medium;
         margin: 0;
         +.modal-box__excerpt{
            margin: 2rem 0 0;
         }
      }
      &__excerpt{
         @extend .text-small;
      }

      &--cotizacion{
         .form-parent{
            &--simple{
               padding: 0;
               background: transparent;

               .form-control{
                  margin: 0 0 1rem;
                  &:last-child{
                     margin: 1rem 0 0;
                  }
               }
            }
         }
      }
      &--full{
         .box{
            &__shadow{
               +img{
                  position: relative;
                  z-index: 2;
               }
            }
         }
      }
   }

   &.dontshow{
      opacity: 0;
      z-index: 0;
      visibility: hidden;
      top: 100%;
      transition: 0s;
      background: transparent;
      [data-role="modal-content"]{
         opacity: 0;
         top: 100%;
         transition: all 200ms ease-in-out;
      }
   }
   &--loaded{
      background: rgba($color_dark, .75);
      &.ugly{
         opacity: 1;
         visibility: visible;
         z-index: 999;
         background: rgba($color_dark, .75);
         transition: 0s;
         top: 0;
         [data-role="modal-content"]{
            opacity: 1;
            top: 100%;
            transition: all 200ms ease-in-out;
         }
      }
   }
}

.modal-list{
   padding: 0;
   margin: 2rem 0 0;
   list-style: none;
   &__item{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 1.5rem 0;
      padding: .5rem 0;
      border-bottom: 1px solid $color_grey_light;
      &__title, &__text{
         margin: 0;
      }
      &__title{
         width: 100%;
         font-size: $size_14;
         line-height: 1.5;
         font-weight: $weight_semibold;
      }
      &__text{
         margin-left: 1rem;
         flex: 1;
         font-size: $size_30;
         line-height: 1;
         font-weight: $weight_extrabold;
      }
      &.highlight{
         color: $color_main_regular;
         .modal-list__item{
            &__title{
               font-size: $size_18;
               line-height: 1.2;
            }
            &__text{
               font-size: $size_36;
               line-height: 1;
            }
         }
      }
   }
}