.printer {
	font-size: 60%;

	&__header {
		display: flex;
		border-bottom: 1px solid $color_grey_regular;
		padding: .5em 0;
		margin: 0 0 2rem;
	}

	&__figure {
		width: 20%;

	}

	&__image {
		height: 328px !important;
		width: 234px !important;
		padding: 4px !important;
		display: block;
		background-color: $color_dark !important;
      -webkit-print-color-adjust: exact;
	}

	&__info {
		width: 75%;
		margin-left: 5%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__phone {
		font-size: 12px;
		font-weight: $weight_regular;
		position: relative;
		display: flex;
		margin-right: 1rem;

		&:before {
			content: '';
			width: 1em;
			height: 1em;
			background-size: .75rem;
			margin-top: .3em;
			margin-right: .2em;
		}
	}

	&__address {
		font-size: $size_8;
		line-height: 1.4;
		max-width: 20em;
	}

	&__title {
		font-size: $size_20;
		text-transform: uppercase;
		margin: 0 0 1em;
	}

	&__table {
		border: 1px solid $color_grey_regular;
		font-size: $size_12;

		margin-top: 2rem;
		tr {
			background: transparent !important;
		}

		td {
			border: 1px solid $color_grey_regular;
			padding: .5em;

			&:first-child {
				font-weight: $weight_bold;
				background: $color_light;
				max-width: 100px;
			}
		}
	}

	&__section {
		+.printer__section {
			margin-top: 2em;
		}
	}

	&__footer {
		padding: .5em 0;
		border-top: 1px solid $color_grey_regular;
		margin: 2rem 0 0;

		a {
			color: $color_dark;
			text-decoration: underline;
			font-weight: $weight_bold;

			&:hover {
				color: $color_main_regular
			}
		}
	}

}