.single {

	//HEADER
	&__title {
		font-size: $size_36;
		line-height: 1.2;
		font-weight: $weight_black;
		color: $color_base;
	}

	&__figure {
		position: relative;
		overflow: hidden;
		margin: 1.5rem 0 0;
	}

	&__excerpt {
		margin: 1.5rem 0 0;
		color: $color_base;
		font-size: 1rem;
		font-weight: $weight_medium;
		line-height: 1.6;
	}

	&__meta {
		@extend %display_meta;

		+.single__title {
			margin-top: 1rem;
		}
	}

	&__share {
		@extend .sharebox;

		&__title {
			font-size: $size_12;
			color: $color_dark;
		}

		&__list {
			@extend .sharebox__list;
		}

		&__item {
			@extend .sharebox__item;
		}
	}

	&__data {
		display: flex;
		padding: 3px 0;

		&__item {
			font-size: $size_12;
			line-height: 1;
			padding-right: 5px;

			+.single__data__item {
				padding-left: 5px;
				border-left: 1px solid $color_border_light;
			}

			&:last-child {
				padding-right: 0
			}

			&--meta {
				font-weight: $weight_bold;
				color: $color_main_light;
			}
		}
	}

	&__holder{
		margin: 2rem 0;
		&__title{
			font-size: 1rem;
			font-weight: $weight_black;
			line-height: 1.2;
			letter-spacing: .2px;
		}
	}


	//CONTENT
	&__thumbnail {
		margin: 0 0 1rem;
	}

	//THE CONTENT
	&__content {
		font-size: 1rem;
		line-height: 1.5;
		margin: 1.5rem 0 0;

		>p {
			margin: 0;

			+p {
				margin: 1rem 0 0;
			}

			>a {
				font-weight: $weight_bold;
				color: $color_main_light;
				text-decoration: underline;

				&:hover {
					color: $color_main_dark;
					text-decoration: none;
				}
			}
		}


		>blockquote {
			display: block;
			margin: 2rem 0;
			padding: 3rem;
			font-size: 1rem;
			line-height: 1.5;
			background: $color_light;
			position: relative;
			width: 100%;

			&:before,
			&:after {
				content: "";
				display: block;
				width: 2rem;
				height: 1.85rem;
				position: absolute;
				background-image: url($images_path + '/font-icons/color/icon-quote.svg');
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: 2rem;
			}

			&:before {
				top: .5rem;
				left: .5rem;
			}

			&:after {
				bottom: .5rem;
				right: .5rem;
				transform: rotate(180deg);
			}
		}

		>ul,
		ol {
			margin: 1rem 0;
		}

		>ol {
			@include order-list;
			display: block;
			padding-left: 3.5rem;
			margin: 1.5rem 0;
			min-height: 10rem;
			background-image: url($images_path + '/content/list-shape.svg');
			background-position: 0 center;
			background-repeat: no-repeat;
			background-size: 2.75rem;
		}

		>ul {
			@include unordered-list;
			display: block;
			padding-left: 3.5rem;
			margin: 1.5rem 0;
			min-height: 10rem;
			background-image: url($images_path + '/content/list-shape.svg');
			background-position: 0 center;
			background-repeat: no-repeat;
			background-size: 2.75rem;
			list-style-type: none !important;

			&[style*="list-style-type: circle"] {
				li {
					&:before {
						@include get-icon($icon-circle-o);
						color: $color_main_regular;
						font-size: 6px;
						top: 7px;
						font-weight: $weight_bold;
						position: absolute;
						left: .5rem;
					}
				}
			}
		}

		>table {
			border: 1px solid $color_grey_regular;
			font-family: $font_sans;
			font-weight: $weight_regular;
			margin: 0;

			th {
				background: $color_main_regular;
				font-size: $size_14;
				font-weight: $weight_bold;
				padding: .75rem;
			}

			td {
				font-size: $size_12;
				padding: .5rem;
			}

			th,
			td {
				min-width: 12rem;
			}
		}

		>p+figure {
			margin-top: 2rem;
		}

		>figure {
			margin: 1rem 0;

			figcaption {
				background: rgba($color_main_regular, .75);
				padding: 1rem 2rem;
				color: $color_white;
			}
		}
		+.single__share{
			margin-top: 3rem;
		}
	}

	&__author{
		display: flex;
		align-items: flex-start;
		padding: 1rem;
		background: $color_light;
		&__figure{
			flex: 1;
			max-width: 25%;
			border-radius: 50%;
			overflow: hidden;
		}
		&__body{
			flex: 1;
			max-width: calc(75% - 1rem);
			margin-left: 1rem;
		}
		&__title{
			font-size: $size_24;
			font-weight: $weight_black;
			line-height: 1.4;
			letter-spacing: .24px;
			margin: 0;
			+.single__author__meta{ margin: .5rem 0 0 }
		}
		&__meta{
			font-size: $size_12;
			line-height: 1.2;
			letter-spacing: .5px;
			margin: 0;
			text-transform: uppercase;
		}
		&__excerpt{
			position: relative;
			margin: .75rem 0 0;
			padding: .75rem 0 0;
			font-size: $size_14;
			line-height: 1.5;
			&:before{
				content: '';
				width: 2rem;
				height: 3px;
				position: absolute;
				left: 0;
				top: 0;
				background: $color_main_light;
			}
		}
	}

	&__session{
		display: flex;
		align-items: flex-start;
		margin: 0 0 1rem;
		&__figure{
			flex: 1;
			max-width: 20%;
			border-radius: 50%;
			overflow: hidden;
		}
		&__body{
			flex: 1;
			max-width: calc(80% - 1rem);
			margin-left: 1rem;
		}
		&__meta,&__close{
			font-size: $size_14;
		}
		&__title{
			margin: .5rem 0;
			font-size: 1.5;
			line-height: 1.2;
			font-weight: $weight_black;
			letter-spacing: .24px;
		}
	}

	&__comments{
		&__form{
			padding: 1.5rem;
			background: $color_light;
		}
		&__list{
			margin-top: 2rem;
			.post-comment-item{
				margin: 2em 0;
				padding: 1em 0;
				border-bottom: 1px solid #eee;
				.post-comment-item{
					margin-left: 10%;
					&:last-child{
						border-bottom: none;
					}
				}
			}
			.post-comment-header{
				position: relative;
				border-bottom: 1px solid #eee;
				padding: 0 0 .3em 90px;
				h3{
					float: left;
					margin: 0;
					font-size: 1.5em;
				}
				.post-comment-date{
					float: right;
					color: #858585;
				}
			}
			.author-avatar{
				padding: 5px;
				border: 1px solid #eee;
				border-radius: 100%;
				background: #fff;
				height: auto;
				position: absolute;
				left: 0;
				top: -7px;
			}
			.post-comment-body{
				padding: 1em 0 1em 90px;
			}
			.post-comment-footer{
				border: 0px;
				.post-comment-reply{
					display: block;
					float: right;
					color: $color_main_dark;
				}
			}
		}
	}

	&__table {
		&__scroll {
			overflow-y: auto;
			-webkit-overflow-scrolling: auto;
		}

		&__message {
			@include media (tablet-up) {
				display: none;
			}

			@include media (tablet-down) {
				display: flex !important;
			}

			width: 100%;
			flex-direction: column;
			align-items: center;
			margin-top: 1rem !important;
			font-size: $size_12;

			&:before {
				content: '';
				display: block;
				width: 2rem;
				height: 2rem;
				background: transparent url($icons_path + '/dark/icon-swipe.svg') no-repeat;
			}
		}
	}

	&__iframe {
		position: relative;
		height: 0;
		overflow: hidden;
		cursor: pointer;
		margin: 0 0 1rem;

		&:last-child {
			margin: 0;
		}

		&.wide {
			padding-bottom: 50%;
		}

		&.normal {
			padding-bottom: 75%;
		}

		iframe {
			overflow: scroll;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;

			@include media ($deploy_nav_down) {
				-webkit-overflow-scrolling: touch;
			}
		}

		&:hover {
			&:after {
				height: 0;
				transition: .1s;
			}
		}
	}

	&__download {
		border-bottom: 1px solid $color_grey_regular;
		display: flex;
		align-items: center;
		width: 100%;
		padding: .25rem 0;
		padding-left: 2rem;
		position: relative;
		margin: 0 0 .5rem;

		&:last-child {
			margin: 0;
		}

		&:before {
			@include get-icon($icon-file);
			position: absolute;
			top: 0;
			left: .25rem;
			height: 100%;
			color: $color_main_regular;
			@include flex-col-center-all;
		}

		&__body {
			flex: 1;
		}

		&__title {
			margin: 0 0 .25rem;
			font-size: 1rem;
			font-weight: $weight_bold;

			a {
				color: $color_dark;

				&:hover {
					color: $color_main_regular;
				}
			}
		}

		&__info {
			margin: 0;
			font-size: $size_12;
			color: $color_grey_regular;
		}

		&__button {
			@include reset-appearance;
			background: $color_main_regular;
			width: 2rem;
			height: 2rem;
			@include transitional;

			&:after {
				@include get-icon($icon-arrow_downward);
				color: $color_white;
				width: 100%;
				height: 100%;
				@include flex-col-center-all;
			}

			&:hover {
				background: $color_main_dark;
				@include transform(scale(1.05));
				@include transitional;
			}
		}
	}

	&__slider{
		margin: 2rem 0;
	}

	&__countbox {
		counter-increment: countbox;
		margin: 0;
		display: block;

		+.single__countbox {
			margin-top: 2rem;
		}


		&__title{
			color: $color_base;
			width: 100%;
			padding: 1rem;
			background: $color_dark_light;
			font-size: 1.125rem;
			margin: 0;
			display: flex;
			align-items: center;
			&:before{
				content: counter(countbox);
				display: inline-block;
				background: $color_white;
				color: $color_base;
				border-radius: 50%;
				font-size: 1rem;
				padding: .25rem .75rem;
				margin-right: .5rem;
				width: 2rem;
				height: 2rem;
				display: inline-flex;
				align-items: center;
				justify-content: center;
			}
		}
		&__body{
			background: $color_light;
			padding: 1rem;
			img{
				display: inline-block;
				padding: .75rem;
				background: rgba($color_white, .75);
			}
		}
		&__holder {
			margin: 2rem 0;
		}
	}
}