//////////////////////////////////
////////////////////////////////// Abstracts
//////////////////////////////////
%arrow-item {
	@include reset-appearance;
	pointer-events: auto;
	display: flex;
	align-items: center;
	padding: .5rem 0;
	background: transparent;
	font-size: 2.5rem;
	font-weight: $weight_regular;
	width: 2rem;
	line-height: 1;
	color: map-get(map-get($colors_map, grey), regular);
	text-align: center;
	transition: $base_transition;

	&:before,
	&:after {
		@extend %icon-font-family;
		transform: translateY(-1px);
		font-size: 2rem
	}

}

%bullet-item {
	@include reset-appearance;
	display: inline-block;
	vertical-align: middle;
	width: .75rem;
	height: .75rem;
	border-radius: 50%;
	border: none;
	background: $color_white;
	transition: $base_transition;
	margin: 0;

	&:hover {
		background: $color_secondary_regular;
	}
}

//////////////////////////////////
////////////////////////////////// Slider
//////////////////////////////////
.slider {
	display: block;
	width: 100%;
	overflow: hidden;
	position: relative;

	// Elements
	&__items {
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

	&__slide {
		display: block;
		position: relative;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}

	&__arrows {
		z-index: 2;
		overflow: hidden;
		right: 0;
		pointer-events: none;
		display: flex;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 1rem;

		@include media (desktop-down) {
			padding: 0 2rem;
		}

		@include media ($deploy_nav_down) {
			padding: 0
		}
	}

	&__bullets {
		position: absolute;
		display: block;
		width: auto;
		text-align: center;
		line-height: 1;
		bottom: 0;
		z-index: 2;
		width: 100%;
		padding: 1rem;
	}

	&__arrow {
		@extend %arrow-item;
		color: $color_white;
		padding: 0;
		font-size: $size_12;
		width: auto;
		text-transform: uppercase;
		opacity: .75;

		&:hover {
			opacity: 1
		}

		// modifiers
		&--prev {
			float: left;

			&::before {
				content: $icon-angle-left;
				margin-right: .25rem;
			}
		}

		&--next {
			float: right;
			justify-content: flex-end;
			margin-left: .5rem;

			&:before {
				content: none
			}

			&:after {
				content: $icon-angle-right;
				margin-left: .25rem;
			}
		}
	}

	&__bullet {
		@extend %bullet-item;

		+.slider__bullet {
			margin-left: .125rem;
		}

		&.current {
			background: $color_main_regular;
		}
	}

	&__thumbnails {
		display: flex;
		width: 100%;
		padding: 1rem 0;
		line-height: 1;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}

	&__thumbnail {
		@include reset-appearance;
		display: inline-block;
		vertical-align: middle;
		flex: 1;
		max-width: 25%;
		min-width: 15%;
		margin: 0 .25rem;
		opacity: .7;
		border: 1px solid $color_white;
		transition: $base_transition;

		img {
			@extend .cover-img;
		}

		&:hover {
			opacity: 1;
		}
	}

	&__captions {
		z-index: 2;
		font-size: $size_14;
		line-height: 1.4;
	}
	
	&__caption {
		padding: 1rem;
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		background: $color_light;
		
		&.current {
			opacity: 1;
			position: relative;
			z-index: 2;
			@include transitional;
		}
	}

	&--diapo {
		position: relative;
		z-index: 6;

		.container {
			position: relative;
			height: 100%;
			padding: 0;
		}

		.slider {
			&__items {
				max-width: 100%;
			}

			&__slide {
				opacity: 0;
				transform: none !important;
				position: absolute;
				top: 0;
				left: 0;
				transition: opacity 1s !important;
				transition-duration: 500ms !important;
				z-index: 1;

				&.current {
					opacity: 1;
					position: relative;
					transition: opacity 1s !important;
					transition-duration: 500ms !important;
					z-index: 2;
				}
			}
		}
	}
}

//////////////////////////////////
////////////////////////////////// Carousel
//////////////////////////////////
.carousel {
	display: block;
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 0 3rem;

	// Elements
	&__items-holder {
		display: block;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

	&__items {
		display: flex;
		padding: 0;
		margin: 0;
	}

	&__slide {
		display: block;
		overflow: hidden;
		margin: 0;
		padding: 0 .5rem;
	}

	&__item {
		@extend .carousel__slide;
		opacity: .75;

		&[data-current="true"] {
			opacity: 1;
		}
	}

	&__arrows {
		display: block;
		width: 100%;
		overflow: hidden;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		pointer-events: none;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	&__arrow {
		@extend %arrow-item;

		// modifiers
		&--prev {
			float: left;

			&::before {
				content: "\e314";
			}
		}

		&--next {
			float: right;

			&::before {
				content: "\e315";
			}
		}
	}
}