.social-link {
	@include image-replacement;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: .5rem;
	margin: 0 .25rem;
	border-radius: 50%;
	transition: $base_transition;
	overflow: hidden;
	cursor: pointer;

	&::before {
		@extend %icon-font-family;
		content: "";
		font-size: map-get($text_sizes, big);
		display: inline-block;
		vertical-align: middle;
		color: $color_white;
	}

	// posibilities depend on the configuration map
	@each $type,
	$color in $social_colors_map {
		&.#{$type} {
			$the_color: $color;

			@if $type==instagram {
				$the_color: $instagram_gradient;
			}

			background: transparent;

			&:hover {
				background: $the_color;

				&::before {
					color: $color_white;
				}
			}

			&::before {
				content: map-get($social_icons_map, $type);
			}
		}
	}
}

.sharebox {
	display: flex;
	align-items: center;
	margin: 1rem 0 0;

	&__list {
		display: flex;
		list-style-type: none;
		margin: 0;
		margin-left: .5rem;
		padding: 0;
	}

	&__item {
		width: 2rem;
		height: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		border-radius: 50%;
		overflow: hidden;
		margin: 0;

		>* {
			@include reset-appearance;
			position: absolute;
			display: block;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			width: 100%;
			height: 100%;
		}

		+.sharebox__item{
			margin-left: .25rem;
		}

		@each $type,
		$color in $social_colors_map {
			&.#{$type} {
				$the_color: $color;
				@if $type==instagram {
					$the_color: $instagram_gradient;
				}

				background: $color;
				@include transitional;
				&:hover {
					background: $color_grey_dark;
					@include transitional;
				}

				&::before {
					content: map-get($social_icons_map, $type);
					font-family: $font_ketchup;
					font-size: 1rem;
					color: $color_white;
				}
			}
		}
	}
}